<div id="sidebar-left" class="span2" style="margin-left:0px;">
        <ul class="nav nav-tabs nav-stacked" style="margin:0px;">

            <li id="net_setup" style="cursor:pointer" onclick="checkChangeData(NETWORK_SETUP_URL);"><a><span class="hidden-tablet"> Setup Network I</span></a></li>
            <li id="net2_setup" style="cursor:pointer" onclick="checkChangeData(NETWORK2_SETUP_URL);"><a><span class="hidden-tablet"> Setup Network II</span></a></li>
            <li id="host_setup" style="cursor:pointer" onclick="checkChangeData(HOST_SETUP_URL);"><a><span class="hidden-tablet"> Host Setup</span></a></li>
        </ul>
</div>
