<div class="navbar" style="">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="brand"><span>ALOOH</span></a>
            <div style="padding-top:20px;margin-left:350px;">

            </div>
        </div>
    </div>
</div>