<head>

    <!-- start: Meta -->
    <meta charset="utf-8">
    <title>ALOOH</title>
    <meta name="description" content="ALOOH board">

    <!-- end: Meta -->

    <!-- start: Mobile Specific -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- end: Mobile Specific -->

    <!-- start: CSS -->
    <link id="bootstrap-style" href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.min.css" rel="stylesheet">
    <link id="base-style" href="css/style.css" rel="stylesheet">
    <link id="base-style-responsive" href="css/style-responsive.css" rel="stylesheet">

    <!-- end: CSS -->


    <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <link id="ie-style" href="css/ie.css" rel="stylesheet">
    <![endif]-->

    <!--[if IE 9]>
        <link id="ie9style" href="css/ie9.css" rel="stylesheet">
    <![endif]-->

    <!-- start: Favicon -->
    <link rel="shortcut icon" href="img/favicon.ico">
    <!-- end: Favicon -->
    <!-- start: JavaScript-->

    <script src="js/jquery-1.9.1.min.js"></script>

        <script>
        var jsonData = '';
        const VISUALIZATION_URL="visualization.html";
        const NETWORK_SETUP_URL="index.html";
        //  $(document).ready(function(){

        // })
        // function goDataVisualization()
        // {

        // }

        // onload = function(){

        // }

        function checkCollectingData(url)
        {
            location.href = url;
        };
    </script>
    <!-- end: JavaScript-->




</head>