<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../public/head_setup %>

    <script>
    $(document).ready(function() {

    })

    var jsonData = null;
    var clickedLink = false;
    onload = function() {
        try {
            getHostIp();
        } catch (exception) {}
        putOnChange();
    }

    function checkChangeData(URL) {
        clickedLink = true;
        if (disableNotChange() == true) {
            if (confirm("You have unsaved changes. Are you sure you want to proceed?\nAll of your changes will be lost.")) {
                location.href = URL;
            } else {
                clickedLink = false;
                return;
            }
        } else {
            location.href = URL;
        }

    }

  function setHostIp(){
    var ip_value = document.getElementById("ip").value;
    var resultip_check = checkIP( ip_value);
    if(resultip_check==0){
      return;
    }
    
    var data_port_value = document.getElementById("dport").value;
    var period_value = document.getElementById("period").value;
    
    var hostInfo = {
				'hostInfo': {
  										'ip': ip_value,
  										'dport' : data_port_value,
  										'period' : period_value
											}
		};

			var xmlHttp = null;
			xmlHttp = new XMLHttpRequest();

			xmlHttp.open("POST", '/setHostIp', false);
			xmlHttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded;charset=utf-8");

			var dataString = JSON.stringify(hostInfo);
			console.log("dataString:"+dataString);

			xmlHttp.send("json="+dataString);
			console.log("resText:"+	xmlHttp.responseText);
			var jsonData = JSON.parse(xmlHttp.responseText);

			if(jsonData.result.status == "ok")
			{
			cleanChanged();
			alert("Successfully saved");

			}
			else
				alert("Saving Error");

			console.log(jsonData);
		};

		function getHostIp()
		{
			var xmlHttp = new XMLHttpRequest();

			xmlHttp.open("GET", '/getHostIp', false);

			xmlHttp.send(null);
			jsonData = JSON.parse(xmlHttp.responseText);
			var hostInfo = jsonData.hostInfo;
			console.log(hostInfo);
			if(hostInfo != "error")
			{
 
				document.getElementById("ip").value = hostInfo.ip;
				document.getElementById("dport").value = hostInfo.dport;
				document.getElementById("period").value = hostInfo.period;

			}
		};
		
    function resetData()
		{
			
			if(jsonData != null && jsonData != "error")
			{
			  var hostInfo = jsonData.hostInfo;
			  console.log(hostInfo);
			  
			  if(hostInfo != "error")
			  {
 			    document.getElementById("ip").value = hostInfo.ip;
				  document.getElementById("dport").value = hostInfo.dport;
				  document.getElementById("period").value = hostInfo.period;
			  }
			}

			cleanChanged();
		}

    function check_values( element_id){
        var element_id_value = document.getElementById(element_id).value;
        if(!element_id_value)
        {
          if(element_id == "f1")
            alert("Insert F1");
          else if(element_id == "f2")
            alert("Insert F2")
          return 0; 
        }
        

        
        var reg_eg_num = /[0-9]+$/g;
        if(!element_id_value || element_id_value.length>20 || !reg_eg_num.test(element_id_value)){
            alert("number only.");
            document.getElementById(element_id).focus();
            return 0;
        }
        

        return 1;
    }
    
    function checkIP(strIP) {
        var expUrl = /^(1|2)?\d?\d([.](1|2)?\d?\d){3}$/;
        return expUrl.test(strIP);
    }
    


    function checkIsStoppedProcess() {
        var xmlHttp = null;
        xmlHttp = new XMLHttpRequest();
        xmlHttp.open("GET", '/checkIsStoppedProcess', false);

        xmlHttp.send(null);
        jsonData = JSON.parse(xmlHttp.responseText);
        var status = jsonData.checkIsStoppedProcess.status;
        console.log(jsonData);

        if (jsonData != "error") {
            console.log("status:" + status);
            return Number(status);

        }
    };


    window.onbeforeunload = function(e) {


        if (e && checkIsStoppedProcess() != 0 && clickedLink == false) {

            e.returnValue = "There is process was collecting Data. Are you sure to exit without collecting data?";
        }
        clickedLink = false;
    };
    </script>

    <!-- end: JavaScript-->
</head>

<body class="container" style="min-width:1280px;min-height: 1000px;overflow:scroll;">
    <header>
        <!-- start: Header -->
        <% include ../public/header %>
        <!-- start: Header -->
    </header>
    <form name="frm">
        <div class="">
            <div class="row" style="margin-left:0px;height:818px;background: white;">
                <!-- start: Main Menu -->
                <%include ../public/menu_setup%>
                <script>document.getElementById("dg_setup").className ="active";</script>
                <!-- end: Main Menu -->
                <noscript>
                    <div class="alert alert-block span10">
                        <h4 class="alert-heading">Warning!</h4>
                        <p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
                    </div>
                </noscript>
                <!-- start: Content -->
                <div id="content" class="span10" style="margin-left: 0px;padding-right: 30px;padding-left: 30px; min-width:1030px; max-width:1050px;">
                        <div class="box" style="min-width: 970px;">
                            <div class="box-header" data-original-title>
                                <h2><i class="halflings-icon white edit"></i><span class="break"></span>Host Setup</h2>
                            </div>
                        </div>
                        <!--/span-->
                    <!--/row-->

                    <!-- <div class="row-fluid sortable"> -->
                        <div class="box">
                            <div class="box-content">
                                <form class="form-horizontal">
                                    <fieldset>

                                        <p class="seperate" style="margin-bottom:10px;margin-top:10px"></p>
                                        <div class="task" style="border:none">
                                            <label class="desc" for="ch1_name" style="width: 15%;">IP</label>
                                            <div class="time" style="text-align: left;width: 230px;" >
                                                <input type="text" id="ip" maxlength="20">
                                            </div>
                                                                               
                                        </div>
                                        <div class="task" style="border:none">
                                            <label class="desc" for="ch1_name" style="width: 15%;">DATA PORT</label>
                                            <div class="time" style="text-align: left;width: 230px;" >
                                                <input type="text" id="dport" maxlength="20">
                                            </div>
                                                                               
                                        </div>
                                        <div class="task" style="border:none">
                                            <label class="desc" for="ch1_name" style="width: 15%;">PERIOD(sec)</label>
                                            <div class="time" style="text-align: left;width: 230px;" >
                                                <input type="text" id="period" maxlength="20">
                                            </div>
                                                                               
                                        </div>                                        

         
                                            <p class="seperate">
                                                   <div class="task" style="border:none;text-align: center;" >
                                                        <div class="" style="display: inline-block;width:200px;" >
                                                            <input type="button" class="btn" style="width:150px; " onClick="resetData()" value="Cancel"/>
                                                        </div>
                                                        <div class="" style="display: inline-block;width:200px;" >
                                                            <input id="confirm" class="btn btn-primary" style="width:150px" type="button" onClick="setHostIp()" value="Confirm"/>
                                                        </div>
                                                    </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                        <!--/span-->
                    </div>
                    <!--/row-->
                </div>
                <!--/.fluid-container-->
                <!-- end: Content -->
            </div>
            <!--/#content.span10-->
        <!-- </div> -->
        <!--/fluid-row-->
        <div class="clearfix"></div>
    </form>
</body>

</html>
