<!DOCTYPE html>
<html lang="en">

  <head>
    <!-- start: Meta -->
    <% include ../public/head %>

    <script type="text/javascript">
      var recvBufArray = new Array();
      const MOVE2UP = 0;
      const MOVE2DOWN = 1;
      const MOVE2RIGHT = 2;
      const MOVE2LEFT = 3;
      const ZOOMIN_V = 0;
      const ZOOMOUT_V = 1;
      const ZOOMIN_H = 2;
      const ZOOMOUT_H = 3;
      const STREAM_TYPE_WEB = 0;
      const STREAM_TYPE_TCP = 1;

      var byteArray;
      var websocket;
      var clickedStop = 1;
      var isFFT = 0;
      var num = 0;
      var frameRateTest = 0;
      var min = 0;
      var max = 0;
      var moveOffset_V = 0;
      var moveOffset_H = 0;
      var zoomOffset_V = 100;
      var zoomOffset_H = 1;
      var moveLimit = 0;
      var scaled = 1;
      var unit = '';

      function onSetApply(){

        scaled =  Number(document.getElementById("scale").value);
        if(scaled <= 0)
          alert("Must exceed 0");

        unit = document.getElementById("unit").value;
        if(unit.length > 10)
          alert("Must be within 10 characters");

      }

      function onReset(_offset) {
        moveOffset_V = 0;
        moveOffset_H = 0;
        zoomOffset_V = 100;
        zoomOffset_H = 1;
      }

      function onSetRelay(_ch) {
        var value;
        console.log('ch:'+_ch);
        switch(_ch)
        {
            case 1:
                if(document.getElementById("ch1").innerHTML == "OFF")
                {
                    document.getElementById("ch1").innerHTML = "ON";
                    value = "off";
                }
                else
                {
                    document.getElementById("ch1").innerHTML = "OFF";
                    value = "on";
                }
            break;

            case 2:
                if(document.getElementById("ch2").innerHTML == "OFF")
                {
                    document.getElementById("ch2").innerHTML = "ON";
                        value = "off";
                }
                else
                {
                    document.getElementById("ch2").innerHTML = "OFF";
                    value="on";
                }
            break;

            case 3:
                if(document.getElementById("ch3").innerHTML == "OFF")
                {
                    document.getElementById("ch3").innerHTML = "ON";
                    value= "off";
                }
                else
                {
                    document.getElementById("ch3").innerHTML = "OFF";
                    value="on";
                }
            break;
        }

        var xmlHttp = null;
        xmlHttp = new XMLHttpRequest();

        xmlHttp.open("POST", '/setRelay', true);
        xmlHttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded;charset=utf-8");

        xmlHttp.send("channel="+_ch+"&status="+value);
        var result= JSON.parse(xmlHttp.responseText);
      }


      function onStartStream(type) {
        var serverIp = location.host.split(':');

        var xmlHttp = null;
        xmlHttp = new XMLHttpRequest();

        if (type == STREAM_TYPE_WEB)
          xmlHttp.open("GET", '/startWebStream', false);
        else
          xmlHttp.open("GET", '/startTcpStream', true);

        xmlHttp.send(null);
        var value = JSON.parse(xmlHttp.responseText);

      }



      function onGetStatus() {
        var serverIp = location.host.split(':');

        var xmlHttp = null;
        console.log('1');
        xmlHttp = new XMLHttpRequest();
        console.log('2');
        xmlHttp.open("GET", '/getStatus', false);
        console.log('3');
        xmlHttp.send(null);
        console.log('4');
        console.log(xmlHttp.responseText);
        var value = JSON.parse(xmlHttp.responseText);
        console.log('5');
        console.log(value);


      }

         function onGetStatus() {
        var serverIp = location.host.split(':');

        var xmlHttp = null;
        console.log('1');
        xmlHttp = new XMLHttpRequest();
        console.log('2');
        xmlHttp.open("GET", '/getStatus', false);
        console.log('3');
        xmlHttp.send(null);
        console.log('4');
        console.log(xmlHttp.responseText);
        var value = JSON.parse(xmlHttp.responseText);
        console.log('5');
        console.log(value);


      }

      function onZoom(_offset) {

        switch (_offset) {
          case ZOOMIN_V:
            //if(zoomOffset_V >= 1)
            //zoomOffset_V *=2;
            //else
            if (zoomOffset_V < 10)
              zoomOffset_V = zoomOffset_V + 1;
            else
              zoomOffset_V = zoomOffset_V + 10;

            //zoomOffset_V = zoomOffset_V.toFixed(2);
            //console.log(zoomOffset_V);
            break;

          case ZOOMOUT_V:
            //                      if(zoomOffset_V > 1)
            //{
            //  if(zoomOffset_V == 2)
            //      zoomOffset_V /=2;
            //  else
            //      zoomOffset_V -=2;
            //}
            if (zoomOffset_V > 10)
              zoomOffset_V = zoomOffset_V - 10;
            else if (zoomOffset_V <= 10 && zoomOffset_V > 2)
              zoomOffset_V = zoomOffset_V - 2;


            console.log(zoomOffset_V);
            break;

          case ZOOMIN_H:
          zoomOffset_H *= 2;

            break;

          case ZOOMOUT_H:
            if (zoomOffset_H > 1)
              zoomOffset_H /= 2;
            break;
        }
      }

      function onMove(_offset) {
        switch (_offset) {
          case MOVE2UP:
            moveOffset_V -= 10;
            break;

          case MOVE2DOWN:
            moveOffset_V += 10;
            break;

          case MOVE2RIGHT:

            if (zoomOffset_H != 1)
              moveOffset_H += 10;
            break;

          case MOVE2LEFT:
            if (zoomOffset_H != 1 && moveLimit - (moveLimit / zoomOffset_H) > moveOffset_H )
            {
            console.log("zoomOffset_H"+zoomOffset_H);

              if(moveOffset_H > 10)
                 moveOffset_H -= 10;
              else
                 moveOffset_H = 0;
             }
            break;
        }
      }

        function resumeProcessRunning()
        {
            var xmlHttp = null;
            xmlHttp = new XMLHttpRequest();
            xmlHttp.open("GET", '/resumeProcessRunningnKillWebStream', false);

            xmlHttp.send(null);
            jsonData = JSON.parse(xmlHttp.responseText);
            var timeInfo = jsonData.devTimeInfo;
            console.log(jsonData);

            if(jsonData != "error")
            {
                var status = jsonData.result.status;
                console.log("status:"+status);
            }
            location.href = "index.html";

        }


      function updateMinMax() {
        setTimeout(function() {
          console.log('min:' + min);
          console.log('min:' + max);
          document.getElementById("minvalue").innerHTML = min;
          document.getElementById("maxvalue").innerHTML = max;
          if (clickedStop == 0)
            updateMinMax();
        }, 1000);
        //min = 0;
        //max = 0;
      }

      function onStartClick() {
        clickedStop = 0;
        if (document.getElementById("mode").value == 2) {
          moveLimit = 512;
          isFFT = 1;
        } else {
          moveLimit = 1024;
          isFFT = 0;
        }
        //updateMinMax();

        websocket.send('start;channel=' + document.getElementById("channel").value + ';mode=' + document.getElementById("mode").value);
        document.getElementById("do_connect").disabled = true;
        document.getElementById("start").disabled = true;
        document.getElementById("start").style.cursor = "not-allowed";
        document.getElementById("stop").disabled = false;
        document.getElementById("stop").style.cursor = "pointer";
      }

      function onStopClick() {
        clickedStop = 1;

        if (recvBufArray.length > 0) {
          recvBufArray.splice(0, recvBufArray.length);
        }

        document.getElementById("do_connect").disabled = true;
        document.getElementById("start").disabled = false;
        document.getElementById("start").style.cursor = "pointer";
        document.getElementById("stop").disabled = true;
        document.getElementById("stop").style.cursor = "not-allowed";

        //alert(document.getElementById("channel").value);
        websocket.send('stop');
      }
      function css_reconnect_state(){
        document.getElementById("do_connect").value = "Connect";
        document.getElementById("do_connect").style.background = "";
        document.getElementById("do_connect").className = "btn btn-primary";
        document.getElementById("do_connect").disabled = false;
      }

      function css_connected_state(){
        document.getElementById("do_connect").value = "Connected";
          document.getElementById("do_connect").style.background = "#4cae4c";
          document.getElementById("do_connect").disabled = false;
          document.getElementById("connect_reuslt").value = "";
          document.getElementById("channel").disabled = false;
        document.getElementById("mode").disabled = false;
        document.getElementById("start").disabled = false;
        document.getElementById("stop").disabled = true;
        document.getElementById("start").style.cursor = "pointer";
      }

      function connect() {
        document.getElementById("do_connect").value = "Conneting...";
        document.getElementById("do_connect").disabled = true;

        window.WebSocket = window.WebSocket || window.MozWebSocket;
        var serverIp = location.host.split(':');
        websocket = new WebSocket('ws://' + serverIp[0] + ':9000', // <---- 요기 수정
        'dumb-increment-protocol');

        websocket.onopen = function() {
          $('h1').css('color', 'green');
            css_connected_state();
        };

        websocket.onerror = function() {
          $('h1').css('color', 'red');
          console.log("failed");
          document.getElementById("connect_reuslt").value = "- Cannot connect to device. Please check the network.";
          css_reconnect_state();
          return;
        };

        websocket.onmessage = function(message) {
          var reader = new FileReader();
          reader.onload = function() {
            if (recvBufArray.length > 0 && clickedStop == 1) {
              recvBufArray.splice(0, recvBufArray.length);
            }

            if (clickedStop == 0) {
              if (isFFT == 0)
                recvBufArray = recvBufArray.concat(Array.prototype.slice.call(new Uint8Array(this.result)));
              else
                recvBufArray = recvBufArray.concat(Array.prototype.slice.call(new Float32Array(this.result)));

            }
          };

          reader.readAsArrayBuffer(message.data);
        };
      }
      window.onbeforeunload = function ()
      {
          return 'Are you sure?';
      };
    </script>
  </head>

  <body  class="container" style="min-width:1500px;min-height:700px;">
    <!-- start: Header -->
    <header>
        <% include ../public/header %>
    </header>
    <!-- start: Header -->
    <div class="">
      <div class="row" style="min-width: 1300px;margin-left:0px;height:1103px;">
        <!-- start: Main Menu -->
        <%include ../public/menu_visual%>
        <!-- end: Main Menu -->
        <noscript>
          <div class="alert alert-block span10">
                <h4 class="alert-heading">Warning!</h4>

            <p>You need to have
              <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a>enabled to use this site.</p>
          </div>
        </noscript>
        <!-- start: Content -->
        <div id="content" class="span10" style="margin:0;padding-right: 30px;padding-left: 30px;">
          <div class="box" style="min-width:1246px;">
            <div class="box-header" data-original-title>
                <h2>Data Visualization</h2>
            </div>
            <div>
              <p><strong>&nbsp&nbsp* Follow the steps below to see data graph.</strong></p>
              <p class="seperate"></p>
            </div>
            <div class="task">
              <div class="desc" style="width:75%">
                <div>
                   <h2>&nbsp&nbsp1. Click the 'Connect' botton to link to the sensor.</h2>

                </div>
                <div style="padding-left: 20px;"><input id="connect_reuslt" type="text" readonly="true" style="cursor:default;color:red;width:500px;background: white;border: none;" /></div>
                <!-- <div>&nbsp&nbsp- Can not connect to device. Please check the network.</div> -->
              </div>
              <div class="time" style="width:170px;">
                <!-- <div> -->
                  <input id="do_connect" class="btn btn-primary" style="width:150px" type="button" onClick="connect()" value="Connect" />
                <!-- </div> -->
              </div>
            </div>
            <div class="task">
              <div class="desc" style="width:75%">
                <div>
                   <h2>&nbsp&nbsp2. Select a sensor</h2>
                </div>

              </div>
              <div class="time" style="width:170px;">
                <div class="control-group" style="margin-left:0px">
                  <div class="controls">
                    <select id="channel" style="width:150px;" disabled="disabled">
                      <option value="1">Analog Channel 1</option>
                      <option value="2">Analog Channel 2</option>
                      <option value="3">Analog Channel 3</option>
                      <option value="4">Analog Channel 4</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="task">
              <div class="desc" style="width:75%">
                <div>
                   <h2>&nbsp&nbsp3. Select a mode</h2>

                </div>

              </div>
              <div class="time" style="width:170px;">
                <div class="control-group"  style="margin-left:0px">
                  <div class="controls">
                    <select id="mode" style="width:150px;" disabled="disabled">
                      <option value=1>TIME</option>
                      <option value=2>FFT</option>
                      <option value=3>FIR</option>
                      <option value=4>RMS</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="task">
              <div class="desc" style="width:75%">
                <div>
                   <h2>&nbsp&nbsp4. Start Monitoring</h2>

                </div>

              </div>
              <div class="time" style="width:175px;">
                <!-- <input id="start" class="btn btn-primary" type="button" onClick="onStartClick()" value="Start" width="100px" />
                <input id="stop" class="btn" type="button" onClick="onStopClick()" value="Stop" disabled="true" width="100px" />-->
                <button id="start" class="btn btn-primary" type="button" onClick="onStartClick()" value="Start" style="width:75px;cursor:not-allowed;" disabled="disabled">Start</button>
                <button id="stop" class="btn " type="button" onClick="onStopClick()" value="Stop" style="width:75px;cursor:not-allowed;" disabled="disabled">Stop</button>
              </div>
            </div>
            <div class="task">
              <table>
                <tr>
                  <td>&nbsp&nbsp</td>
                  <td style="width:30px">
                    <button id="zoominy" class="btn" type="button" onClick="onZoom(ZOOMIN_V)" ><i class="icon-zoom-in"></i></button>
                  </td>
                  <td style="width:30px">
                    <button id="zoomouty" class="btn" type="button" onClick="onZoom(ZOOMOUT_V)"><i class="icon-zoom-out"></i></button>
                  </td>
                  </tr>
              </table>
            </div>
            <div id="C1" class="task" style="position:relative">
              <div class="desc3">
                <canvas style="z-index:80" id="mycanvas" width=800px height=600px></canvas>
              </div>
              <!-- time -->
              <div class="timetable" style="z-index:100;position:absolute;right:30px">
                <table>
                  <tr>
                    <td style="width:30px"></td>
                    <td style="width:30px">
                      <button id="moveup" class="btn" type="button" onClick="onMove(MOVE2UP)" ><i class="icon-arrow-up"></i></button>
                    </td>
                    <td></td>
                    <td></td>
                    </tr>
                    <tr>
                      <td style="width:30px">
                        <button id="moveleft" class="btn" type="button" onClick="onMove(MOVE2LEFT)" ><i class="icon-arrow-left"></i></button>
                      </td>
                      <td style="width:30px">
                        <button id="reset" class="btn" type="button" onClick="onReset()"><i class="icon-undo"></i></button>
                      </td>
                      <td style="width:30px">
                        <button id="moveright" class="btn" type="button" onClick="onMove(MOVE2RIGHT)" ><i class="icon-arrow-right"></i></button>
                      </td>
                      <td></td>
                      </tr>
                      <tr>
                        <td style="width:30px"></td>
                        <td style="width:30px">
                          <button id="movedown" class="btn" type="button" onClick="onMove(MOVE2DOWN)" ><i class="icon-arrow-down"></i></button>
                        </td>
                        <td></td>
                        <td></td>
                        </tr>
                        <tr style="height:30px"><td style="height:30px"></td><td style="width:30px height:30px"></td><td style="width:30px height:30px"></td><td></td></tr>
                        <tr class="time2"></tr>
                        <tr class="time2"></tr>
                        <tr style="height:50px"></tr>
                        <tr class="time2"></tr>
                        <tr class="time2">
                            <td></td><td></td><td></td><td style="width:30px"><button id="zoominx" class="btn" type="button" onClick="onZoom(ZOOMIN_H)" ><i class="icon-zoom-in"></i></button></td>
                        </tr>
                        <tr>
                            <td></td><td></td><td></td><td style="width:30px"><button id="zoomoutx" class="btn" type="button" onClick="onZoom(ZOOMOUT_H)" ><i class="icon-zoom-out"></i></button></td>
                        </tr>
                </table>
              </div>
            </div>
            <br>
              <div class="task" style="border: none;">
                <div style="width:350px;margin-left:50px;float:left;">
                  <strong style="vertical-align: middle;">Scaled </strong>&nbsp;&nbsp;<input id="scale" type="number" name="" style="margin-bottom: 0px;"><span>&nbsp;( 0 < n )</span>
                </div>
                <div style="width:500px;float:left;margin-left:50px;">
                  <strong style="vertical-align: middle;">Scaled Unit</strong>&nbsp;&nbsp;<input id="unit" type="text" name="" style="margin-bottom: 0px;"><span>&nbsp;( within 10 charaters )</span>
                </div>
                <botton id="apply" class="btn btn-primary" style="width:100px;" onClick="onSetApply()">Apply</botton>
              </div>
              <br><br>
            <!-- task -->
          </div>
          <!--/span-->

        </div>
        <!--/row-->
        <!-- end: Content -->
      </div>
      <!--/#content.span10-->
    </div>
    <!--/fluid-row-->

    </body>

    <script src="processing.js"></script>
    <script type="text/processing" data-processing-target="mycanvas">
      int Xmax = 1024;
      int Ymax = 600;
      int textOffset = 100;
      int Yref = Ymax / 2;
      int q = 256;
      int[] textYpos = {
        50, 100, 150, 200, 250, 300, 350, 400, 450, 500, 550
      };
      int[] textYvalue = {
        625, 500, 375, 250, 125, 0, -125, -250, -375, -500, -625
      };
      int[] textXpos = {
        20, 128, 256, 384, 512, 640, 768, 896, 1000
      };
      int[] textXinitValue = {
        0, 128, 256, 384, 512, 640, 768, 896, 1024
      };
      int textArrayLength = 11;
      int xPosCenter = 640;
      int xAxisRatio = 1;

      int Xsize;
      int Ysize;
      int YYmax = 0;
      int XXmax = 0;

      void setup() {
        int i;
        int index = 0;
        byte lower = 0;
        char upper = 0;
        int bufSize = 0;
        frameRate(50);
        Xsize = ($(C1).width()) * 0.9;
        Ysize = (Xsize / (Xmax + textOffset)) * Ymax;
        size(Xsize, Ysize);
        //size(Xmax + textOffset, Ymax);
        background(125);
        // fill(255);
        //noLoop();
        // PFont fontA = loadFont("courier");
        // textFont(fontA, 14);
      }

      void draw() {
        int j = 0;
        char pointX1 = 0;
        char pointX2 = 0;
        int pointX3 = 0;
        int pointX4 = 0;
        int tempindex = 0;
        int criterionLength = 0;
        int befferingLimitLength = 0;
        int xArixIndex = 0;
        int frameRateValue = 0;
        int limitValue = 0;

        upper = 0;

        scale(Xsize / (Xmax + textOffset), Ysize / Ymax);

        if (isFFT == 0) {
          limitValue = 2046;
          criterionLength = Xmax * 2;
          befferingLimitLength = criterionLength * 100;
          frameRateValue = 50;
        } else {
          limitValue = 1022;
          criterionLength = Xmax / 2;
          befferingLimitLength = criterionLength * 9;
          frameRateValue = 3;
        }
        //if(clickedStop == 1)
        frameRate(frameRateValue);

        //println("frameRateTest "+frameRateTest);
        //println("recvBufArray size :"+recvBufArray.length);
        if (clickedStop == 0) {
          if (recvBufArray != null) {
            if (recvBufArray.length > criterionLength) {
              if (recvBufArray.length > befferingLimitLength)
                recvBufArray = recvBufArray.splice(recvBufArray.length - criterionLength * frameRateValue, frameRateValue * criterionLength);

              tempbuf = recvBufArray.splice(0, criterionLength);

              background(125);
              stroke(30);

              line(textOffset, 300, Xmax + textOffset, 300);
              line(textOffset - 1, 0, textOffset - 1, 600);
              stroke(200);
              for (int i = 0; i < textArrayLength; i++) {
                if (i != 5) {
                  for (int k = 0; k < 1024; k = k + 10)
                    point(textOffset + k, textYpos[i]);
                }
              }

              for (int i = 128; i < 1024; i = i + 128) {
                for (int k = 0; k < 600; k = k + 10)
                  point(textOffset + i, k);
              }
              stroke(255);


              if (zoomOffset_H == 1)
                index = 0;
              else {
                if (isFFT == 0)
                  index = Xmax / 2 - Xmax / (zoomOffset_H * 2) + moveOffset_H;
                else
                 // index = 512 / 2 - 512 / (zoomOffset_H * 2) + moveOffset_H;
                  index = moveOffset_H;

              }

              for (int i = 0; i < textArrayLength; i++)
                text(textYvalue[i]*100*float(scaled)*12000/32767/zoomOffset_V, 40, textYpos[i]);



              for (int i = 0; i < textXpos.length; i++) {
                //if(index == 0)
                //  text(index+i*128, textXpos[i]+textOffset-20, 320);
                //else
                if (isFFT == 0)
                  text(index + (i * (Xmax / zoomOffset_H / 8)), textXpos[i] + textOffset - 20, 320);
                else
                  text(index + (i * (512 / zoomOffset_H / 8)), textXpos[i] + textOffset - 20, 320);
              }

              if(unit.length > 0)
              {
                int unitPosX =  80;

                text(unit, unitPosX - unit.length*6, 10);
              }
              else
              {
                text("mV", 68, 10);
              }

              XXmax = 0;
              YYmax = 0;

              while (index < limitValue) {

                if (isFFT == 0) {
                  lower = (parseInt(tempbuf[index]));
                  upper = byte(parseInt(tempbuf[index + 1])) * 256;

                  upper += lower;
                  pointX1 = upper;

                  lower = (parseInt(tempbuf[index + 2]));
                  upper = byte(parseInt(tempbuf[index + 3])) * 256;

                  upper += lower;
                  pointX2 = upper;
                  min = pointX1.toString();

                  max = pointX2.toString();
                  //if(max < pointX1)
                  //    max = pointX1;
                  //if(min > pointX1)
                  //    min = pointX1;
                  //line(j+moveOffset_H+textOffset,pointX1*zoomOffset_V/100+300+moveOffset_V,j+zoomOffset_H+moveOffset_H+textOffset,pointX2*zoomOffset_V/100+300+moveOffset_V);
                  line(j + textOffset, pointX1 * zoomOffset_V / 250 + 300 + moveOffset_V, j + zoomOffset_H + textOffset, pointX2 * zoomOffset_V / 250 + 300 + moveOffset_V);
                  j = j + zoomOffset_H;
                  index += 2;
                } else {
                  //min = pointX1.toString();
                  //max = pointX2.toString();

                  if (tempbuf[index] > YYmax) {
                    YYmax = tempbuf[index];
                    XXmax = j;
                  }

                  line(j + textOffset, 300 - tempbuf[index] * zoomOffset_V / 250 + moveOffset_V, j + zoomOffset_H * 2 + textOffset, 300 - tempbuf[index + 1] * zoomOffset_V / 250 + moveOffset_V);
                  //println("index "+index+" j:"+j);
                  index += 1;
                  j += 2 * zoomOffset_H;
                }

                //println(pointX1+'   '+pointX2);
                //println("recvBufArray size :"+recvBufArray.length);
              }

              if (isFFT != 0) {
                noFill();
                stroke(255, 0, 0);
                ellipse(XXmax + textOffset, 300 - YYmax * zoomOffset_V / 250 + moveOffset_V, 30, 30);
                text(YYmax, XXmax + textOffset + 30, 315 - YYmax * zoomOffset_V / 250 + moveOffset_V);
                text(XXmax * 12.5 + 'Hz', XXmax + textOffset + 30, 300 - YYmax * zoomOffset_V / 250 + moveOffset_V);
                stroke(255);
                //line(XXmax+textOffset,300-0 * zoomOffset_V / 100 + moveOffset_V,XXmax+textOffset,300-YYmax * zoomOffset_V / 100 + moveOffset_V);
              }

            }
          } else {
            background(125);
            stroke(255);
            //println("recvBufArray is null");
          }
        }
        //if(i > 0)
        //println("testdata"+list.get(i-1));

      }
    </script>
    <!-- start: JavaScript-->

</html>