<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../public/head_setup %>
        <script>
         $(document).ready(function(){
             for(var i = 1;i < 61;i++)
             {
                var opt = document.createElement('option');
                opt.value = i;
                opt.appendChild(document.createTextNode(i));
                $("#sel_a_savingDuration").append(opt);
            }
            for(var i = 1;i < 61;i++)
            {
                var opt = document.createElement('option');
                opt.value = i;
                opt.appendChild(document.createTextNode(i));
                $("#sel_u_savingDuration").append(opt);
            }

        })

        onload = function(){
            try{
                getDaqSetupInfo();
                const origin_path = "/mnt/sdcard/snow_dragon/SS/";
                var path_list = document.getElementsByName("origin_savingPath");
                for(var i=0; i<5; i++){
                    path_list[i].value=origin_path;
                }
            }catch(exception)
            {}

            putOnChange();
            console.log(document.getElementById("content").offsetHeight);
            var a = document.getElementById("content").offsetHeight;
            document.getElementById("con_row").style.height=a +"px";
        }
        // onresize = function(){

        // }
        var jsonData = null;
        var clickedLink = false;

        function checkChangeData(URL)
        {
            clickedLink = true;
            if(disableNotChange() == true)
            {
                if(confirm("You have unsaved changes. Are you sure you want to proceed?\nAll of your changes will be lost."))
                {
                    location.href = URL;
                }
                else
                {
                    clickedLink=false;
                    return;
                }
            }
            else
            {
                location.href = URL;
            }

        }

        function openHelp()
        {
            window.open("./crontabguide.html","a", "width=650, height=900, left=100, top=50,scrollbars=1");
        }
        function resetData()
        {
            if(jsonData != null && jsonData != "error")
            {
                document.getElementById("daqName").value = jsonData.daqSetupInfo.daq_name;

                document.getElementById("m_min").value = jsonData.daqSetupInfo.m_time.min;
                document.getElementById("m_hour").value = jsonData.daqSetupInfo.m_time.hour;
                document.getElementById("m_day").value = jsonData.daqSetupInfo.m_time.day;
                document.getElementById("m_month").value = jsonData.daqSetupInfo.m_time.month;
                document.getElementById("m_dayofweek").value = jsonData.daqSetupInfo.m_time.dayofweek;

                document.getElementById("a_min").value = jsonData.daqSetupInfo.a_time.min;
                document.getElementById("a_hour").value = jsonData.daqSetupInfo.a_time.hour;
                document.getElementById("a_day").value = jsonData.daqSetupInfo.a_time.day;
                document.getElementById("a_month").value = jsonData.daqSetupInfo.a_time.month;
                document.getElementById("a_dayofweek").value = jsonData.daqSetupInfo.a_time.dayofweek;

                document.getElementById("d_min").value = jsonData.daqSetupInfo.d_time.min;
                document.getElementById("d_hour").value = jsonData.daqSetupInfo.d_time.hour;
                document.getElementById("d_day").value = jsonData.daqSetupInfo.d_time.day;
                document.getElementById("d_month").value = jsonData.daqSetupInfo.d_time.month;
                document.getElementById("d_dayofweek").value = jsonData.daqSetupInfo.d_time.dayofweek;

                document.getElementById("u_min").value = jsonData.daqSetupInfo.u_time.min;
                document.getElementById("u_hour").value = jsonData.daqSetupInfo.u_time.hour;
                document.getElementById("u_day").value = jsonData.daqSetupInfo.u_time.day;
                document.getElementById("u_month").value = jsonData.daqSetupInfo.u_time.month;
                document.getElementById("u_dayofweek").value = jsonData.daqSetupInfo.u_time.dayofweek;

                document.getElementById("m_savingPath").value = jsonData.daqSetupInfo.m_path;
                document.getElementById("a_savingPath").value = jsonData.daqSetupInfo.a_path;
                document.getElementById("d_savingPath").value = jsonData.daqSetupInfo.d_path;
                document.getElementById("u_savingPath").value = jsonData.daqSetupInfo.u_path;

                var pos = jsonData.daqSetupInfo.m_path.indexOf("/SS/DATA");
                var path = jsonData.daqSetupInfo.m_path.slice(pos, jsonData.daqSetupInfo.m_path.length);
                document.getElementById("m_ftpPath").innerHTML = "http://"+jsonData.daqSetupInfo.ipAddr+path;

                pos = jsonData.daqSetupInfo.a_path.indexOf("/SS/DATA");
                path = jsonData.daqSetupInfo.a_path.slice(pos, jsonData.daqSetupInfo.a_path.length);
                document.getElementById("a_ftpPath").innerHTML = "http://"+jsonData.daqSetupInfo.ipAddr+path;

                pos = jsonData.daqSetupInfo.d_path.indexOf("/SS/DATA");
                path = jsonData.daqSetupInfo.d_path.slice(pos, jsonData.daqSetupInfo.d_path.length);
                document.getElementById("d_ftpPath").innerHTML = "http://"+jsonData.daqSetupInfo.ipAddr+path;

                pos = jsonData.daqSetupInfo.u_path.indexOf("/SS/DATA");
                path = jsonData.daqSetupInfo.u_path.slice(pos, jsonData.daqSetupInfo.u_path.length);
                document.getElementById("u_ftpPath").innerHTML = "http://"+jsonData.daqSetupInfo.ipAddr+path;

                document.getElementById("m_mgr_disksize").value = jsonData.daqSetupInfo.m_disksize;
                document.getElementById("m_mgr_day").value = jsonData.daqSetupInfo.m_day;

                $("#sel_a_savingDuration").val(jsonData.daqSetupInfo.a_duration);
                $("#sel_u_savingDuration").val(jsonData.daqSetupInfo.u_duration);

                if(jsonData.daqSetupInfo.m_flag == "DSIZE")
                {
                    document.getElementById("optionsRadios1").checked = true;

                    }
                else
                {
                document.getElementById("optionsRadios2").checked = true;

                }

                console.log(jsonData.daqSetupInfo.m_flag);
                console.log(jsonData.daqSetupInfo.m_time.min);
                console.log(jsonData.daqSetupInfo.m_time.hour);
                console.log(jsonData.daqSetupInfo.m_time.day);
                console.log(jsonData.daqSetupInfo.m_time.month);
                console.log(jsonData.daqSetupInfo.m_time.dayofweek);
            }
            cleanChanged();
        }

        function getDaqSetupInfo()
        {
            var i = 0;
            var xmlHttp = null;
            xmlHttp = new XMLHttpRequest();

            xmlHttp.open("GET", '/getDaqSetupInfo', false);

            xmlHttp.send(null);
            jsonData = JSON.parse(xmlHttp.responseText);
            console.log(jsonData);
            if(jsonData != "error")
            {
                document.getElementById("daqName").value = jsonData.daqSetupInfo.daq_name;

                document.getElementById("m_min").value = jsonData.daqSetupInfo.m_time.min;
                document.getElementById("m_hour").value = jsonData.daqSetupInfo.m_time.hour;
                document.getElementById("m_day").value = jsonData.daqSetupInfo.m_time.day;
                document.getElementById("m_month").value = jsonData.daqSetupInfo.m_time.month;
                document.getElementById("m_dayofweek").value = jsonData.daqSetupInfo.m_time.dayofweek;

				if(jsonData.daqSetupInfo.m_path != null){
					console.log(jsonData.daqSetupInfo.m_path);
					if(jsonData.daqSetupInfo.m_path.indexOf("/mnt/sdcard/snow_dragon/SS/") != -1)
					{
						var m_path = jsonData.daqSetupInfo.m_path.slice(27, jsonData.daqSetupInfo.m_path.length-1);
						document.getElementById("m_savingPath").value = m_path;
					}
				}

                var pos = jsonData.daqSetupInfo.m_path.indexOf("/SS/DATA");
                var path = jsonData.daqSetupInfo.m_path.slice(pos, jsonData.daqSetupInfo.m_path.length-1);
                document.getElementById("m_ftpPath").innerHTML = "ftp://"+jsonData.daqSetupInfo.ipAddr+path;

                document.getElementById("m_mgr_disksize").value = jsonData.daqSetupInfo.m_disksize;
                document.getElementById("m_mgr_day").value = jsonData.daqSetupInfo.m_day;

                if(jsonData.daqSetupInfo.m_flag == "DSIZE")
                {
                    document.getElementById("optionsRadios1").checked = true;

                    }
                else
                {
                document.getElementById("optionsRadios2").checked = true;

                }

                console.log(jsonData.daqSetupInfo.m_flag);
                console.log(jsonData.daqSetupInfo.m_time.min);
                console.log(jsonData.daqSetupInfo.m_time.hour);
                console.log(jsonData.daqSetupInfo.m_time.day);
                console.log(jsonData.daqSetupInfo.m_time.month);
                console.log(jsonData.daqSetupInfo.m_time.dayofweek);
            }
        }

        function setDaqSetupInfo()
        {

            var daq_name = document.getElementById("daqName").value;

            var reg_eg_num = /[a-zA-Z0-9]+$/g;
            var reg_num = /[0-9]+$/g;
            if(daq_name && daq_name.length<=20 && reg_eg_num.test(daq_name)){

            }else{
                document.getElementById("daqName").value="";
                alert("Eglish or number only.");
                document.getElementById("daqName").focus();
                return;
            }

            var m_mgr_disksize_value = document.getElementById("m_mgr_disksize").value;
            if(m_mgr_disksize_value){
                if(m_mgr_disksize_value>100 || m_mgr_disksize_value <50){
                     document.getElementById("m_mgr_disksize").value="";
                    alert("50~100 only");
                    document.getElementById("m_mgr_disksize").focus();
                    return;
                }
            }else{
                alert("put Capacity");
                document.getElementById("m_mgr_disksize").focus();
                return;
            }

            var m_mgr_day_value = document.getElementById("m_mgr_day").value;
            if(m_mgr_day_value){
                if( m_mgr_day_value>31 || m_mgr_day_value <1){
                    document.getElementById("m_mgr_day").value="";
                    alert("1 ~ 31 only");
                    document.getElementById("m_mgr_day").focus();
                    return;
                }
            }else{
                alert("put Days");
                document.getElementById("m_mgr_day").focus();
                return;
            }


            var serverIp = location.host.split(':');
            var i = 0;
            var xmlHttp = null;
            var m_flag;

            xmlHttp = new XMLHttpRequest();
            xmlHttp.open("POST", '/setDaqSetupInfo', false);

            if(document.getElementById("optionsRadios1").checked == true)
                m_flag = "DSIZE";
            else
                m_flag = "DAY";

            var daqSetupInfo = {
            'daqSetupInfo': {
                                'daq_name':document.getElementById("daqName").value,
                                'm_flag': m_flag,
                                'm_disksize': document.getElementById("m_mgr_disksize").value,
                                'm_day': document.getElementById("m_mgr_day").value,
								'm_path': document.getElementById("m_savingPath").value,
								
                                'm_time':{
                                            'min': document.getElementById("m_min").value,
                                            'hour' : document.getElementById("m_hour").value,
                                            'day': document.getElementById("m_day").value,
                                            'month': document.getElementById("m_month").value,
                                            'dayofweek': document.getElementById("m_dayofweek").value,
                                    },
                            }
            };

            xmlHttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded;charset=utf-8");

            var jsonData = JSON.stringify(daqSetupInfo);
            xmlHttp.send("json="+jsonData);
            var jsonData = JSON.parse(xmlHttp.responseText);
            if(jsonData.result.status == "ok")
            {
                cleanChanged();
                alert("Successfully saved");
            }
            else
			{
				alert("Error:"+jsonData.result.reason);
			}
        console.log(jsonData);


        }

        function checkIsStoppedProcess()
        {
            var xmlHttp = null;
            xmlHttp = new XMLHttpRequest();
            xmlHttp.open("GET", '/checkIsStoppedProcess', false);

            xmlHttp.send(null);
            jsonData = JSON.parse(xmlHttp.responseText);
            var status = jsonData.checkIsStoppedProcess.status;
            console.log(jsonData);

            if(jsonData != "error")
            {
                console.log("status:"+status);
                return Number(status);

            }
        };

        window.onbeforeunload=function(e){

            if(e  && checkIsStoppedProcess() != 0 && clickedLink== false){
                e.returnValue="There is process was collecting Data. Are you sure to exit without collecting data?";
            }
            clickedLink = false;
        };

         function resizing(){// menu resizing
            var a = document.getElementById("content").offsetHeight;
            document.getElementById("con_row").style.height=a +"px";
        }


    </script>

    <!-- end: JavaScript-->




</head>

<body class="container" style="min-width:1280px;" onresize="resizing()">
    <!-- start: Header -->
    <header>
        <% include ../public/header %>
    </header>
    <form name="frm">

        <!-- start: Header -->
        <div class="">
            <div id="con_row" class="row" style="margin-left:0px;height:1463px;background: white;">

                <!-- start: Main Menu -->
                <%include ../public/menu_setup%>
                <script>document.getElementById("daq_setup").className ="active";</script>
                <!-- end: Main Menu -->
                <noscript>
                    <div class="alert alert-block span10">
                        <h4 class="alert-heading">Warning!</h4>
                        <p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
                    </div>
                </noscript>
                <!-- start: Content -->
                <div id="content" class="span10" style="margin-left: 0px;padding-right: 30px;padding-left: 30px; min-width:1030px; max-width:1050px;" >
                        <div class="box " style="min-width: 970px;">
                            <div class="box-header" data-original-title>
                                <h2><i class="halflings-icon white edit"></i><span class="break"></span>DAQ Setup</h2>
                            </div>
                        </div>
                        <!--/span-->

                    <!--/row-->
                    <!-- <div class="row-fluid sortable"> -->
                        <div class="box" style="/*min-width: 970px;*/">
                            <div class="box-content">
                                <form class="form-horizontal">
                                    <div class="task">
                                        <p><b> * Set option for each data management.</b></p>
                                        <p style="color: red;"><b> * You must restart by click 'restart' on main page for this set up.</b></p>
                                    </div>
                                    <p class="seperate"></p>
                                    <fieldset>
                                        <div class="control-group">
                                            <div class="controls-bottomline">
                                                <label class="checkbox inline">
                                                    <b> DAQ Basic Info</b>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="task" style="border:none">
                                            <label class="desc" style="width:30%" for="daqName">DAQ Name</label>
                                            <div class="time" style="text-align: left;"><p style="width:300px;margin-left:20px;">1-20 Alphanumeric Characters Only</p>
                                                <input type="text" id="daqName" maxlength="20" style="margin-left: 20px;" >
                                            </div>
                                        </div>
                                        <p class="seperate"></p>
                                        <div class="control-group">
                                            <div class="controls-bottomline">
                                                <label class="checkbox inline">
                                                    <b> Disk Management</b>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="task" style="border:none">
                                            <label class="desc" style="width:30%" for="m_savingPath">Data Saving Path</label>
                                            <div class="time" style="width:60%">
                                                <input type="text" class="desc" name="origin_savingPath" readonly="true" style="margin-left: 20px;width:33%">
                                                <input type="text" class="desc" id="m_savingPath" maxlength="100" style="width: 40%;margin-left:0px;">
                                            </div>
                                        </div>
                                        <div class="task">
                                            <label class="desc" for="m_ftpPath" style="width:30%">FTP Path</label>
                                            <div class="time" style="width:50%">
                                                <label class="desc" id="m_ftpPath"></label>
                                            </div>
                                        </div>
                                        <div class="task">
                                            <!-- <div class="time" style="width:65%;"> -->
                                                <table style="width:100%;">
                                                    <tr>
                                                        <td rowspan=2 >
                                                            <div class="daq_schedule" style="width:300px;font-size:14px;margin-left:30px;">Data Management Schedule
                                                                <i class="icon-question-sign" onclick="openHelp();" style="cursor:pointer"></i>
                                                            </div>
                                                        </td>
                                                        <td class="td-center">Min</td>
                                                        <td class="td-center">Hour</td>
                                                        <td class="td-center">Date</td>
                                                        <td class="td-center">Month</td>
                                                        <td class="td-center">Day of Week</td>
                                                        <tr>
                                                            <td class="td-center">
                                                                <input type="text" id="m_min" class="input-center" style="width:80px;margin:0px">
                                                            </td>
                                                            <td class="td-center">
                                                                <input type="text" id="m_hour" class="input-center" style="width:80px;margin:0px">
                                                            </td>
                                                            <td class="td-center">
                                                                <input type="text" id="m_day" class="input-center" style="width:80px;margin:0px">
                                                            </td>
                                                            <td class="td-center">
                                                                <input type="text" id="m_month" class="input-center" style="width:80px;margin:0px">
                                                            </td>
                                                            <td class="td-center">
                                                                <input type="text" id="m_dayofweek" class="input-center" style="width:80px;margin:0px">
                                                            </td>
                                                        </tr>
                                                </table>
                                            <!-- </div> -->
                                        </div>
                                        <div class="task" style="border:none;margin-top:15px">
                                            <label class="desc" for="m_ftpPath" style="width:30%">Data deletion</label>
                                        </div>
                                        <div class="task" style="margin-left:60px;border:none">
                                            <div class="desc" style="width:32%">
                                                <input type="radio" name="optionsRadios" id="optionsRadios1" value="cap" checked=""> Delete from the oldest data when(50-100)
                                            </div>
                                            <div class="time" style="width:50%;padding:5px;padding-left:50px;text-align: left;">
                                                Over
                                                <input type="number" id="m_mgr_disksize" style="width:80px;margin:0px" min="50" max="100"> %Capacity
                                            </div>
                                        </div>
                                        <div class="task" style="margin-left:60px;margin-bottom:20px;border:none">
                                            <div class="desc" style="width:32%">
                                                <input type="radio" name="optionsRadios" id="optionsRadios2" value="day"> Delete the oldest data from(1-31)
                                            </div>
                                            <div class="time" style="width:50%;padding:5px;padding-left:50px;text-align: left;">
                                                First&nbsp
                                                <input type="number" id="m_mgr_day" style="width:80px;margin:0px" max="31" min="1"> Day(s)
                                            </div>
                                        </div>
                                        <p class="seperate"></p>
                                       
                                                                
                                                                <!-- <p style="height:10px"> -->
                                                                <div class="task" style="border:none;text-align: center;" >
                                                                    <div class="" style="display: inline-block;width:200px;" >
                                                                        <input type="button" class="btn" style="width:150px; " onClick="resetData()" value="Cancel"/>
                                                                    </div>
                                                                    <div class="" style="display: inline-block;width:200px;" >
                                                                        <div><input id="confirm" class="btn btn-primary" style="width:150px" type="button" onClick="setDaqSetupInfo()" value="Confirm"/></div>
                                                                    </div>
                                                                </div>
                                    </fieldset>
                                </form>
                                </div>
                                </div>
                                <!--/span-->
                                </div>
                                <!--/row-->
                                </div>
                                <!--/.fluid-container-->
                                <!-- end: Content -->
                                </div>
                                <!--/#content.span10-->
                                <!-- </div> -->
                                <!--/fluid-row-->
    </form>
</body>

</html>
