<head>

    <!-- start: Meta -->
    <meta charset="utf-8">
    <title>ALOOH</title>
    <meta name="description" content="ezConn board">

    <!-- end: Meta -->

    <!-- start: Mobile Specific -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- end: Mobile Specific -->

    <!-- start: CSS -->
    <link id="bootstrap-style" href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.min.css" rel="stylesheet">
    <link id="base-style" href="css/style.css" rel="stylesheet">
    <link id="base-style-responsive" href="css/style-responsive.css" rel="stylesheet">
    <!-- <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,cyrillic-ext,latin-ext' rel='stylesheet' type='text/css'> -->
    <!-- end: CSS -->


    <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <link id="ie-style" href="css/ie.css" rel="stylesheet">
    <![endif]-->

    <!--[if IE 9]>
        <link id="ie9style" href="css/ie9.css" rel="stylesheet">
    <![endif]-->

    <!-- start: Favicon -->
    <link rel="shortcut icon" href="img/favicon.ico">
    <!-- end: Favicon -->
    <!-- start: JavaScript-->

<script src="js/jquery-1.9.1.min.js"></script>
<script src="js/checkChangedData.js"></script>

        <script>
        var jsonData = '';
        // const VISUALIZATION_URL="visualization.html";
        // const NETWORK_SETUP_URL="network_setup.html";
        //  $(document).ready(function(){
        function resumeProcessRunning() {
/*
            var xmlHttp = null;
            xmlHttp = new XMLHttpRequest();
            xmlHttp.open("GET", '/resumeProcessRunning', false);

            xmlHttp.send(null);
            jsonData = JSON.parse(xmlHttp.responseText);
            var timeInfo = jsonData.devTimeInfo;
            console.log(jsonData);

            if (jsonData != "error") {
                var status = jsonData.result.status;
                console.log("status:" + status);
            }
*/
            location.href = "index.html";

        }



        // })
        // function goDataVisualization()
        // {

        // }

        // onload = function(){

        // }

        // function checkCollectingData(url)
        // {
        //     var xmlHttp = null;
        //     xmlHttp = new XMLHttpRequest();
        //     xmlHttp.open("GET", '/checkRunningSensor', false);

        //     xmlHttp.send(null);
        //     jsonData = JSON.parse(xmlHttp.responseText);
        //     var timeInfo = jsonData.devTimeInfo;
        //     console.log(jsonData);

        //     if(jsonData != "error")
        //     {
        //         var result = jsonData.checkingprocess.status;
        //         console.log("result:"+result);
        //     }

        //     location.href = url;

        // };



    </script>
    <!-- end: JavaScript-->




</head>