<!DOCTYPE html>
<html lang="en">

<head>

    <% include ../public/head_setup %>
    <!-- start: JavaScript-->

    <script>
    var ipTypeArray = ["static_wlan_ipAddr", "static_wlan_subnet", "static_wlan_gateway", "static_wlan_dns1", "static_wlan_dns2", "static_eth_ipAddr", "static_eth_subnet", "static_eth_gateway", "static_eth_dns1", "static_eth_dns2"];
    var ipMsgArray = ["Wi-Fi IP Address", "Wi-Fi Subnet Mask", "Wi-Fi GateWay", "Wi-Fi DNS1", "Wi-Fi DNS2", "Ethernet IP Address", "Ethernet Subnet Mask", "Ethernet GateWay", "Ethernet DNS1", "Ethernet DNS2"];
    var msgIndex = -1;
    var jsonData_static = null;
    var jsonData_dhcp = null;
    var clickedLink = false;
    $(document).ready(function() {
        $("input[name=optionsRadiosNType]").change(function() {
            var value = $(this).val();
            console.log(value);
            if (value == "dhcp") {
                $("#dhcp-tab").show();
                $("#static-tab").hide();
            } else {
                $("#dhcp-tab").hide();
                $("#static-tab").show();
            }
        })

        $("#dhcp_auth").change(function(){
            var auth = document.getElementById("dhcp_auth").value;
            if(auth=="OPEN"){
                document.getElementById("dhcp_password").disabled = true;
            }else{
                document.getElementById("dhcp_password").disabled = false;
            }
        })

        $("#static_auth").change(function(){
            var auth = document.getElementById("static_auth").value;
            if(auth=="OPEN"){
                document.getElementById("static_password").disabled = true;
            }else{
                document.getElementById("static_password").disabled = false;
            }
        })

    })


    function checkIP(strIP) {
        var expUrl = /^(1|2)?\d?\d([.](1|2)?\d?\d){3}$/;
        return expUrl.test(strIP);
    }

    onload = function() {
        try {
            getDhcpNetworkInfo();
        } catch (exception) {}
        try {
	    getStaticEthNetworkInfo(); 
            getStaticNetworkInfo();
        } catch (exception) {}
        putOnChange();
        resizing();
        var static_auth = document.getElementById("static_auth").value;
         if(static_auth=="OPEN"){
                document.getElementById("static_password").disabled = true;
            }
         var dhcp_auth = document.getElementById("dhcp_auth").value;
         if(dhcp_auth=="OPEN"){
                document.getElementById("dhcp_password").disabled = true;
         }
    }


    function checkChangeData(URL) {
        clickedLink = true;
        if (disableNotChange() == true) {
            if (confirm("You have unsaved changes. Are you sure you want to proceed?\nAll of your changes will be lost.")) {
                location.href = URL;
            } else {
                clickedLink = false;
                return;
            }
        } else {
            location.href = URL;
        }

    }

    function refresh() {
        var xmlHttp = null;
        xmlHttp = new XMLHttpRequest();

        xmlHttp.open("GET", '/getDhcpNetworkInfo', false);

        xmlHttp.send(null);
        jsonData_dhcp = JSON.parse(xmlHttp.responseText);

        $("#sel_aplist").empty();
        if (jsonData_dhcp != "error") {
            for (i in jsonData_dhcp.dhcpNetInfo.wlan.apList) {
                var opt = document.createElement('option');
                opt.value = jsonData_dhcp.dhcpNetInfo.wlan.apList[i];
                opt.appendChild(document.createTextNode(jsonData_dhcp.dhcpNetInfo.wlan.apList[i]));
                opt.style.height = "35px";
                opt.style.borderBottom = "1px solid #f9f9f9";
                opt.style.verticalAlign = "middle";
                opt.style.marginTop = "4px";
                opt.style.marginLeft = "5px";
                opt.style.padding = "0px";
                $("#sel_aplist").append(opt);

            }
        }
    }

    function resetData() {
        if (jsonData_dhcp != null && jsonData_dhcp != "error") {

            document.getElementById("dhcp_ssid").innerHTML = "SSID : " + jsonData_dhcp.dhcpNetInfo.wlan.ssid;
            document.getElementById("dhcp_ipaddr").innerHTML = "IP Address : " + jsonData_dhcp.dhcpNetInfo.wlan.ipAddr;


            document.getElementById("dhcp_eth_mac").innerHTML = "MAC Address : " + jsonData_dhcp.dhcpNetInfo.eth.macAddr;
            document.getElementById("dhcp_eth_ipaddr").innerHTML = "IP Address : " + jsonData_dhcp.dhcpNetInfo.eth.ipAddr;
            document.getElementById("dhcp_eth_subnet").innerHTML = "Subnet Mask : " + jsonData_dhcp.dhcpNetInfo.eth.subnetMask;
            document.getElementById("dhcp_password").innerHTML = "";
            for (i in jsonData_dhcp.dhcpNetInfo.wlan.apList) {
                var opt = document.createElement('option');
                opt.value = jsonData_dhcp.dhcpNetInfo.wlan.apList[i];
                opt.appendChild(document.createTextNode(jsonData_dhcp.dhcpNetInfo.wlan.apList[i]));

                $("#sel_aplist").append(opt);

            }

            console.log("subnetMask:" + jsonData_dhcp.dhcpNetInfo.eth.subnetMask);
            console.log("gateway:" + jsonData_dhcp.dhcpNetInfo.eth.gateway);
            console.log("ipAddr:" + jsonData_dhcp.dhcpNetInfo.eth.ipAddr);
            console.log("subnetMask:" + jsonData_dhcp.dhcpNetInfo.eth.subnetMask);

            console.log("auth:" + jsonData_dhcp.dhcpNetInfo.wlan.Auth);
            console.log("ipAddr:" + jsonData_dhcp.dhcpNetInfo.wlan.ipAddr);
            console.log("ssid:" + jsonData_dhcp.dhcpNetInfo.wlan.ssid);
            console.log("type:" + jsonData_dhcp.dhcpNetInfo.type);
            if (jsonData_dhcp.dhcpNetInfo.type == "dhcp") {
                document.getElementById("static_eth_check").checked = false;
                document.getElementById("static_wlan_check").checked = false;

                if (jsonData_dhcp.dhcpNetInfo.interfaceType.indexOf("both") != -1) {
                    document.getElementById("dhcp_eth_check").checked = true;
                    document.getElementById("dhcp_wlan_check").checked = true;
                } else {
                    if (jsonData_dhcp.dhcpNetInfo.interfaceType.indexOf("wlan") != -1) {
                        document.getElementById("dhcp_wlan_check").checked = true;
                        document.getElementById("dhcp_eth_check").checked = false;
                    }

                    if (jsonData_dhcp.dhcpNetInfo.interfaceType.indexOf("eth") != -1) {
                        document.getElementById("dhcp_eth_check").checked = true;
                        document.getElementById("dhcp_wlan_check").checked = false;
                    }
                }
            }

        }
        if (jsonData_static != null && jsonData_static != "error") {
            document.getElementById("static_wlan_ipAddr").value = jsonData_static.staticNetInfo.wlan.ipAddr;
            document.getElementById("static_wlan_subnet").value = jsonData_static.staticNetInfo.wlan.subnetMask;
            document.getElementById("static_wlan_gateway").value = jsonData_static.staticNetInfo.wlan.gateway;
            document.getElementById("static_wlan_dns1").value = jsonData_static.staticNetInfo.wlan.dns1;
            document.getElementById("static_wlan_dns2").value = jsonData_static.staticNetInfo.wlan.dns2;
            document.getElementById("static_wlan_ssid").value = jsonData_static.staticNetInfo.wlan.ssid;

            document.getElementById("static_eth_ipAddr").value = jsonData_static.staticNetInfo.eth.ipAddr;
            document.getElementById("static_eth_subnet").value = jsonData_static.staticNetInfo.eth.subnetMask;
            document.getElementById("static_eth_gateway").value = jsonData_static.staticNetInfo.eth.gateway;
            document.getElementById("static_eth_dns1").value = jsonData_static.staticNetInfo.eth.dns1;
            document.getElementById("static_eth_dns2").value = jsonData_static.staticNetInfo.eth.dns2;
            document.getElementById("static_password").innerHTML = "";

            if (jsonData_dhcp.dhcpNetInfo.type == "static") {
                document.getElementById("dhcp_eth_check").checked = false;
                document.getElementById("dhcp_wlan_check").checked = false;

                if (jsonData_dhcp.dhcpNetInfo.interfaceType.indexOf("both") != -1) {
                    document.getElementById("static_eth_check").checked = true;
                    document.getElementById("static_wlan_check").checked = true;
                } else {
                    if (jsonData_dhcp.dhcpNetInfo.interfaceType.indexOf("wlan") != -1) {
                        document.getElementById("static_wlan_check").checked = true;
                        document.getElementById("static_eth_check").checked = false;
                    }

                    if (jsonData_dhcp.dhcpNetInfo.interfaceType.indexOf("eth") != -1) {
                        document.getElementById("static_eth_check").checked = true;
                        document.getElementById("static_wlan_check").checked = false;
                    }
                }
            }

        }
        cleanChanged();
    }


    function getDhcpNetworkInfo() {
        var i = 0;
        var xmlHttp = null;
        xmlHttp = new XMLHttpRequest();

        xmlHttp.open("GET", '/getDhcpNetworkInfo', false);

        xmlHttp.send(null);
        jsonData_dhcp = JSON.parse(xmlHttp.responseText);


        if (jsonData_dhcp != "error") {

            document.getElementById("dhcp_ssid").innerHTML = "SSID : " + jsonData_dhcp.dhcpNetInfo.wlan.ssid;
            document.getElementById("dhcp_ipaddr").innerHTML = "IP Address : " + jsonData_dhcp.dhcpNetInfo.wlan.ipAddr;

            if (jsonData_dhcp.dhcpNetInfo.eth.macAddr != null)
                document.getElementById("dhcp_eth_mac").innerHTML = "MAC Address : " + jsonData_dhcp.dhcpNetInfo.eth.macAddr;

            if (jsonData_dhcp.dhcpNetInfo.eth.ipAddr != null)
                document.getElementById("dhcp_eth_ipaddr").innerHTML = "IP Address : " + jsonData_dhcp.dhcpNetInfo.eth.ipAddr;

            if (jsonData_dhcp.dhcpNetInfo.eth.subnetMask != null)
                document.getElementById("dhcp_eth_subnet").innerHTML = "Subnet Mask : " + jsonData_dhcp.dhcpNetInfo.eth.subnetMask;

            for (i in jsonData_dhcp.dhcpNetInfo.wlan.apList) {
                var opt = document.createElement('option');
                opt.value = jsonData_dhcp.dhcpNetInfo.wlan.apList[i];
                opt.appendChild(document.createTextNode(jsonData_dhcp.dhcpNetInfo.wlan.apList[i]));
                opt.style.height = "25px";
                opt.style.borderBottom = "1px solid #f9f9f9";
                opt.style.verticalAlign = "middle";
                opt.style.marginTop = "4px";
                opt.style.marginLeft = "5px";
                opt.style.padding = "0px";
                $("#sel_aplist").append(opt);

            }

            console.log("subnetMask:" + jsonData_dhcp.dhcpNetInfo.eth.subnetMask);
            console.log("gateway:" + jsonData_dhcp.dhcpNetInfo.eth.gateway);
            console.log("ipAddr:" + jsonData_dhcp.dhcpNetInfo.eth.ipAddr);
            console.log("subnetMask:" + jsonData_dhcp.dhcpNetInfo.eth.subnetMask);

            console.log("auth:" + jsonData_dhcp.dhcpNetInfo.wlan.Auth);
            console.log("ipAddr:" + jsonData_dhcp.dhcpNetInfo.wlan.ipAddr);
            console.log("ssid:" + jsonData_dhcp.dhcpNetInfo.wlan.ssid);
            console.log("type:" + jsonData_dhcp.dhcpNetInfo.type);
            console.log("connectedIf:" + jsonData_dhcp.dhcpNetInfo.connnectedIf);
            console.log("interfactType" + jsonData_dhcp.dhcpNetInfo.interfaceType);


            if (jsonData_dhcp.dhcpNetInfo.type == "dhcp") {
                if (jsonData_dhcp.dhcpNetInfo.connnectedIf.indexOf("both") != -1) {
                    document.getElementById("dhcp_wlan_conn").innerHTML = " WiFi : connected";
                    document.getElementById("dhcp_eth_conn").innerHTML = " Ethernet : connected";
                } else if (jsonData_dhcp.dhcpNetInfo.connnectedIf.indexOf("wlan") != -1)
                    document.getElementById("dhcp_wlan_conn").innerHTML = " WiFi : connected";
                else if (jsonData_dhcp.dhcpNetInfo.connnectedIf.indexOf("eth") != -1)
                    document.getElementById("dhcp_eth_conn").innerHTML = " Ethernet : connected";

                document.getElementById("radioDhcp").checked = true;
                if (jsonData_dhcp.dhcpNetInfo.interfaceType.indexOf("both") != -1) {
                    document.getElementById("dhcp_eth_check").checked = true;
                    document.getElementById("dhcp_wlan_check").checked = true;
                } else {
                    if (jsonData_dhcp.dhcpNetInfo.interfaceType.indexOf("wlan") != -1)
                        document.getElementById("dhcp_wlan_check").checked = true;

                    if (jsonData_dhcp.dhcpNetInfo.interfaceType.indexOf("eth") != -1)
                        document.getElementById("dhcp_eth_check").checked = true;
                }

                $("#dhcp-tab").show();
                $("#static-tab").hide();
            } else {
                console.log("if:" + jsonData_dhcp.dhcpNetInfo.connnectedIf);
                if (jsonData_dhcp.dhcpNetInfo.connnectedIf.indexOf("both") != -1) {
                    document.getElementById("static_wlan_conn").innerHTML = " WiFi : connected";
                    document.getElementById("static_eth_conn").innerHTML = " Ethernet : connected";
                } else if (jsonData_dhcp.dhcpNetInfo.connnectedIf.indexOf("wlan") != -1) {
                    document.getElementById("static_wlan_conn").innerHTML = "  WiFi : connected";
                } else if (jsonData_dhcp.dhcpNetInfo.connnectedIf.indexOf("eth") != -1)
                    document.getElementById("static_eth_conn").innerHTML = " Ethernet : connected";
                document.getElementById("radioStatic").checked = true;

                if (jsonData_dhcp.dhcpNetInfo.interfaceType.indexOf("both") != -1) {
                    document.getElementById("static_eth_check").checked = true;
                    document.getElementById("static_wlan_check").checked = true;
                } else {
                    if (jsonData_dhcp.dhcpNetInfo.interfaceType.indexOf("wlan") != -1)
                        document.getElementById("static_wlan_check").checked = true;

                    if (jsonData_dhcp.dhcpNetInfo.interfaceType.indexOf("eth") != -1)
                        document.getElementById("static_eth_check").checked = true;
                }
                $("#dhcp-tab").hide();
                $("#static-tab").show();
            }
			document.getElementById("dhcp_auth_current").innerHTML = " Authentification : "+jsonData_dhcp.dhcpNetInfo.wlan.Auth;
        }
    }

    function getStaticEthNetworkInfo() {
        var serverIp = location.host.split(':');
        var i = 0;
        var xmlHttp = null;
        xmlHttp = new XMLHttpRequest();

        xmlHttp.open("GET", '/getStaticEthNetworkInfo', false);

        xmlHttp.send(null);
        jsonData_static = JSON.parse(xmlHttp.responseText);

        if (jsonData_static != "error") {
            document.getElementById("static_eth_ipAddr").value = jsonData_static.staticNetInfo.eth.ipAddr;
            document.getElementById("static_eth_subnet").value = jsonData_static.staticNetInfo.eth.subnetMask;
            document.getElementById("static_eth_gateway").value = jsonData_static.staticNetInfo.eth.gateway;
            document.getElementById("static_eth_dns1").value = jsonData_static.staticNetInfo.eth.dns1;
            document.getElementById("static_eth_dns2").value = jsonData_static.staticNetInfo.eth.dns2;

            if (jsonData_dhcp.dhcpNetInfo.type == "static")
                 document.getElementById("static_auth").value = "OPEN";
                 //document.getElementById("static_auth").value = jsonData_dhcp.dhcpNetInfo.wlan.Auth;
        }
    }

    function getStaticNetworkInfo() {
        var serverIp = location.host.split(':');
        var i = 0;
        var xmlHttp = null;
        xmlHttp = new XMLHttpRequest();

        xmlHttp.open("GET", '/getStaticNetworkInfo', false);

        xmlHttp.send(null);

        jsonData_static = JSON.parse(xmlHttp.responseText);

        if (jsonData_static != "error") {
            document.getElementById("static_wlan_ipAddr").value = jsonData_static.staticNetInfo.wlan.ipAddr;
            document.getElementById("static_wlan_subnet").value = jsonData_static.staticNetInfo.wlan.subnetMask;
            document.getElementById("static_wlan_gateway").value = jsonData_static.staticNetInfo.wlan.gateway;
            document.getElementById("static_wlan_dns1").value = jsonData_static.staticNetInfo.wlan.dns1;
            document.getElementById("static_wlan_dns2").value = jsonData_static.staticNetInfo.wlan.dns2;
            document.getElementById("static_wlan_ssid").value = jsonData_static.staticNetInfo.wlan.ssid;
            document.getElementById("static_wlan_bssid").value = jsonData_static.staticNetInfo.wlan.bssid;
   //         document.getElementById("static_eth_ipAddr").value = jsonData_static.staticNetInfo.eth.ipAddr;
   //         document.getElementById("static_eth_subnet").value = jsonData_static.staticNetInfo.eth.subnetMask;
    //        document.getElementById("static_eth_gateway").value = jsonData_static.staticNetInfo.eth.gateway;
     //       document.getElementById("static_eth_dns1").value = jsonData_static.staticNetInfo.eth.dns1;
      //      document.getElementById("static_eth_dns2").value = jsonData_static.staticNetInfo.eth.dns2;

			if (jsonData_dhcp.dhcpNetInfo.type == "static")
				document.getElementById("static_auth").value = "OPEN";
			//document.getElementById("static_auth").value = jsonData_dhcp.dhcpNetInfo.wlan.Auth;
        }
    }

     function check_values( element_id){
        var element_id_value = document.getElementById(element_id).value;
        var reg_eg_num = /[a-zA-Z0-9]+$/g;
        if(!element_id_value || element_id_value.length>20 || !reg_eg_num.test(element_id_value)){
            alert("Eglish or number only.");
            document.getElementById(element_id).focus();
            return 0;
        }
        return 1;
    }

    function setNetworkInfo() {
        var interfaceType = '';

        if (document.getElementById("radioStatic").checked == true) {
            if (document.getElementById("static_wlan_check").checked == false && document.getElementById("static_eth_check").checked == false) {
                alert("You should select a Network Interface at least");
                return;
            }

            if (document.getElementById("static_wlan_check").checked == true) {
                if (document.getElementById("static_wlan_ipAddr").value == null || document.getElementById("static_wlan_ipAddr").value.length == 0) {
                    alert("Please insert IP Address");
                    return;
                }

                if (document.getElementById("static_wlan_subnet").value == null || document.getElementById("static_wlan_subnet").value.length == 0) {
                    alert("Please insert SubnetMask");
                    return;
                }
                if (document.getElementById("static_wlan_gateway").value == null || document.getElementById("static_wlan_gateway").value.length == 0) {
                    alert("Please insert Gateway");
                    return;
                }

                if (document.getElementById("static_wlan_dns1").value == null || document.getElementById("static_wlan_dns1").value.length == 0) {
                    alert("Please insert DNS1");
                    return;
                }

                if (document.getElementById("static_wlan_dns2").value == null || document.getElementById("static_wlan_dns2").value.length == 0) {
                    alert("Please insert DNS2");
                    return;
                }

                if (document.getElementById("static_wlan_ssid").value == null || document.getElementById("static_wlan_ssid").value.length == 0) {
                    alert("Please insert SSID");
                    return;
                }else{
                    var result_check = check_values( "static_wlan_ssid");
                     if(result_check==0){
                        return;
                     }

                }

                if (document.getElementById("static_password").value == null || document.getElementById("static_password").value.length == 0) {
                    if(document.getElementById("static_auth").value!="OPEN"){
                        alert("Please insert Password");
                        return;
                    }
                }
            }

            if (document.getElementById("static_eth_check").checked == true) {
                if (document.getElementById("static_eth_ipAddr").value == null || document.getElementById("static_eth_ipAddr").value.length == 0) {
                    alert("Please insert IP Address");
                    return;
                }

                if (document.getElementById("static_eth_subnet").value == null || document.getElementById("static_eth_subnet").value.length == 0) {
                    alert("Please insert SubnetMask");
                    return;
                }
                if (document.getElementById("static_eth_gateway").value == null || document.getElementById("static_eth_gateway").value.length == 0) {
                    alert("Please insert Gateway");
                    return;
                }
                if (document.getElementById("static_eth_dns1").value == null || document.getElementById("static_eth_dns1").value.length == 0) {
                    alert("Please insert DNS1");
                    return;
                }
                if (document.getElementById("static_eth_dns2").value == null || document.getElementById("static_eth_dns2").value.length == 0) {
                    alert("Please insert DNS2");
                    return;
                }

            }
            if (document.getElementById("static_wlan_check").checked == true && document.getElementById("static_eth_check").checked == true)
                interfaceType = "both";
            else {
                if (document.getElementById("static_wlan_check").checked == true)
                    interfaceType = "wlan";
                else
                    interfaceType = "eth";
            }

        } else {
            if (document.getElementById("dhcp_wlan_check").checked == false && document.getElementById("dhcp_eth_check").checked == false) {
                alert("You should select a Network Interface at least");
                return;
            }
            if (document.getElementById("dhcp_wlan_check").checked == true) {
                if (document.getElementById("sel_aplist").value == null || document.getElementById("sel_aplist").value == "") {
                    alert("Please select using AP");
                    return;
                }
                if (document.getElementById("dhcp_password").value == null || document.getElementById("dhcp_password").value.length == 0) {
                    if(document.getElementById("dhcp_auth").value!="OPEN"){
                        alert("Please insert Password");
                        return;
                    }
                }
            }

            if (document.getElementById("dhcp_wlan_check").checked == true && document.getElementById("dhcp_eth_check").checked == true)
                interfaceType = "both";
            else {
                if (document.getElementById("dhcp_wlan_check").checked == true)
                    interfaceType = "wlan";
                else
                    interfaceType = "eth";
            }


        }

        var xmlHttp = new XMLHttpRequest();
        xmlHttp.open("POST", '/setNetworkInfo', false);
        xmlHttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded;charset=utf-8");

        //dhcp
        if (document.getElementById("radioDhcp").checked == true) {
            var dhcpNetInfo = {
                'dhcpNetInfo': {
                    'wlan': {
                        'ssid': document.getElementById("sel_aplist").value,
                        'passwd': document.getElementById("dhcp_password").value,
                        'auth': document.getElementById("dhcp_auth").value,
                    },
                    'interfaceType': interfaceType,
                }
            };

            var dataString = JSON.stringify(dhcpNetInfo);
            xmlHttp.send("type=dhcp&json=" + dataString);

        }
        // static
        else {
            var staticNetInfo = {
                'staticNetInfo': {
                    'wlan': {
                        'ssid': document.getElementById("static_wlan_ssid").value,
                        'bssid': document.getElementById("static_wlan_bssid").value,
                        'ipAddr': document.getElementById("static_wlan_ipAddr").value,
                        'auth': document.getElementById("static_auth").value,
                        'subnetMask': document.getElementById("static_wlan_subnet").value,
                        'gateway': document.getElementById("static_wlan_gateway").value,
                        'dns1': document.getElementById("static_wlan_dns1").value,
                        'dns2': document.getElementById("static_wlan_dns2").value,
                        'passwd': document.getElementById("static_password").value,
                    },
                    'eth': {
                        'ipAddr': document.getElementById("static_eth_ipAddr").value,
                        'subnetMask': document.getElementById("static_eth_subnet").value,
                        'gateway': document.getElementById("static_eth_gateway").value,
                        'dns1': document.getElementById("static_eth_dns1").value,
                        'dns2': document.getElementById("static_eth_dns2").value,
                    },
                    'interfaceType': interfaceType,
                }

            };
            var dataString = JSON.stringify(staticNetInfo);
            xmlHttp.send("type=static&json=" + dataString);
        }
        var jsonData = JSON.parse(xmlHttp.responseText);
        if (jsonData.result.status == "ok") {
            cleanChanged();
            alert("Successfully saved");
        } else
            alert("Saving Error");

        console.log(jsonData);
    }

    function checkIsStoppedProcess() {
        var xmlHttp = null;
        xmlHttp = new XMLHttpRequest();
        xmlHttp.open("GET", '/checkIsStoppedProcess', false);

        xmlHttp.send(null);
        jsonData = JSON.parse(xmlHttp.responseText);
        var status = jsonData.checkIsStoppedProcess.status;
        console.log(jsonData);

        if (jsonData != "error") {
            console.log("status:" + status);
            return Number(status);

        }
    };

    window.onbeforeunload = function(e) {

        if (e && checkIsStoppedProcess() != 0 && clickedLink == false) {
            e.returnValue = "There is process was collecting Data. Are you sure to exit without collecting data?";
        }
        clickedLink = false;
    };
    function resizing(){// menu resizing
            var a = document.getElementById("content").offsetHeight;
            document.getElementById("con_row").style.height=a +"px";
        }

    </script>

    <!-- end: JavaScript-->
</head>

<body  class="container" style="min-width:1280px;" onresize="resizing()">

        <!-- start: Header -->
        <header>
            <% include ../public/header %>
        </header>

        <!-- start: Header -->
        <div class="row" id="con_row" style="margin-left:0px;height:1009px;background: white;">
                <!-- start: Main Menu -->
                <%include ../public/menu_setup%>
                <script>document.getElementById("net_setup").className ="active";</script>
                <!-- end: Main Menu -->
                <noscript>
                    <div class="alert alert-block span10">
                        <h4 class="alert-heading">Warning!</h4>
                        <p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
                    </div>
                </noscript>
                <!-- start: Content -->
                <div id="content" class="span10" style="width:1000px;margin-left: 0px;padding-right: 30px;padding-left: 30px;">
                <!-- <form name="frm"> -->
                        <div class="box" style="min-width:750px;">
                            <div class="box-header" data-original-title>
                                <h2><i class="halflings-icon white edit"></i><span class="break"></span>Network Setup</h2>
                            </div>
                        </div>
                    <!--/row-->
                        <div class="box" style="min-width:750px;">
                                <form class="form-horizontal" name="frm">
                                    <fieldset>
                                        <div class="control-group" style="margin-bottom:20px;margin-top:10px">
                                        <div class="controls-bottomline" style="border: none">
                                                <p><b> * Select a desired option.</b></p>
                                                <p style="color: red;"><b> * You must restart by click `Restart` on main page for this set up.</b></p>
                                            </div>
                                        </div>
                                        <p class="seperate_line"></p>
                                        <div class="control-group">
                                            <div class="task" style="text-align: center;border: none;">
                                                <div class="menu_net" style="width:200px">
                                                    <input type="radio" name="optionsRadiosNType" id="radioDhcp" value="dhcp" checked="">
                                                    <label class="radio_button" for="radioDhcp">DHCP</label>
                                                </div>
                                                <div class="menu_net" style="width:200px">
                                                    <input type="radio" name="optionsRadiosNType" id="radioStatic" value="static">
                                                    <label class="radio_button"  for="radioStatic">STATIC</label>
                                                </div>
                                            </div>
                                        </div>
                                        <p class="seperate_line" style="padding-top: 10px;"></p>
                                        <div id="dhcp-tab" style="">
                                        <div name="WIFI_AREA" class="control-group">
                                                <div class="">
                                                    <label class="" >
                                                        <input type="checkbox" id="dhcp_wlan_check" value="option1"  style="margin:0;vertical-align:middle;"><b  style="margin:0;vertical-align:middle;" id="dhcp_wlan_conn"> WiFi </b>
                                                    </label>
                                                </div>
                                            <div class="control-group" style="margin-top:10px">
                                                <label id="dhcp_ssid">SSID:</label>
                                                <label id="dhcp_ipaddr">IP Address:</label>
                                                <label id="dhcp_auth_current">Authentication:</label>
                                            </div>
                                            <div class="task" style="border: none;width:76%">
                                                <div class="desc" style="width: 20%;margin-left:0px;padding-left:0px;">
                                                    <span style="">WiFi AP List</span>
                                                </div>
                                                <div class="time" style="float:right;">

                                                    <i class="icon-refresh" onclick="refresh();" style="cursor:pointer;float:right;"></i>
                                                </div>

                                            </div>
                                            <div class="task">
                                                <div class="desc" style="width:80%;margin-left:0px;">
                                                    <select id="sel_aplist" class="form-control" size="7" style="width:100%;height:150px">
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="task" style="margin-left:0px">
                                                <label class="desc" style="width:57%;padding-left:0px;" for="dhcp_auth" >WiFi AP Authentication</label>
                                                <div class="time" style="padding:0px;margin-top:9px;">
                                                    <select id="dhcp_auth">
                                                        <option value="WPA/WPA2">WPA/WPA2</option>
                                                        <option value="WEP">WEP</option>
                                                        <option value="OPEN">OPEN</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="task" style="margin-left:0px">
                                                <label class="desc" style="width:57%;padding-left:0px;" for="dhcp_password">Password</label>
                                                <div class="time" style="padding:0px;margin-top:9px">
                                                    <input type="text" style="width:150px" id="dhcp_password">
                                                </div>
                                            </div>
                                            </div>

                                            <p class="seperate_line" ></p>

                                            <div name="Ethernet_Area" class="control-group" >
                                                <div class="" >
                                                    <label class="inline">
                                                        <input type="checkbox" id="dhcp_eth_check" value="option1" style="margin:0;vertical-align:middle;"> <b id="dhcp_eth_conn" style="margin:0;vertical-align:middle;"> Ethernet </b>
                                                    </label>
                                                </div>

                                                <div class="task" style="border:none">
                                                    <p id="dhcp_eth_mac">MAC Address</p>
                                                </div>

                                                <div class="task" style="border:none">
                                                    <p id="dhcp_eth_ipaddr">IP Address</p>
                                                </div>

                                                <div class="task" style="border:none">
                                                    <p id="dhcp_eth_subnet">Subnet Mask </p>
                                                </div>

                                                <div class="task" style="border:none">
                                                    <!--<p id="dhcp_eth_gw">Gateway</p>-->
                                                </div>

                                            </div>

                                        </div>

                                        <!--dhcp tab -->
                                        <div id="static-tab">
                                            <div class="control-group">
                                                <div class="controls-bottomline">
                                                    <input type="checkbox" id="static_wlan_check" value="option1"><b id="static_wlan_conn"> WiFi </b>
                                                    <label class="checkbox inline">
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="task">
                                                <label class="desc" for="static_wlan_ipAddr">IP Address</label>
                                                <div class="time" style="padding:0px">
                                                    <input type="text" id="static_wlan_ipAddr" name="address" style="margin-top:5px;margin-bottom:5px">
                                                </div>
                                            </div>
                                            <div class="task">
                                                <label class="desc" for="static_wlan_subnet">Subnet Mask</label>
                                                <div class="time" style="padding:0px">
                                                    <input type="text" id="static_wlan_subnet" style="margin-top:5px;margin-bottom:5px">
                                                </div>
                                            </div>
                                            <div class="task">
                                                <label class="desc" for="static_wlan_gateway">Gateway</label>
                                                <div class="time" style="padding:0px">
                                                    <input type="text" id="static_wlan_gateway" style="margin-top:5px;margin-bottom:5px">
                                                </div>
                                            </div>
                                            <div class="task">
                                                <label class="desc" for="static_wlan_dns1">DNS 1</label>
                                                <div class="time" style="padding:0px">
                                                    <input type="text" id="static_wlan_dns1" style="margin-top:5px;margin-bottom:5px">
                                                </div>
                                            </div>
                                            <div class="task">
                                                <label class="desc" for="static_wlan_dns2">DNS 2</label>
                                                <div class="time" style="padding:0px">
                                                    <input type="text" id="static_wlan_dns2" style="margin-top:5px;margin-bottom:5px">
                                                </div>
                                            </div>
                                            <div class="task">
                                                <label class="desc" for="static_wlan_ssid">SSID</label>
                                                <div class="time" style="padding:0px">
                                                    <input type="text" id="static_wlan_ssid" name="ssid" style="margin-top:5px;margin-bottom:5px" onchange="testing_reg(this.value, this.id)" maxlength="20">
                                                </div>
                                            </div>
                                            <div class="task">
                                                <label class="desc" for="static_wlan_bssid">BSSID</label>
                                                <div class="time" style="padding:0px">
                                                    <input type="text" id="static_wlan_bssid" style="margin-top:5px;margin-bottom:5px">
                                                </div>
                                            </div>
                                            <div class="task">
                                                <label class="desc" for="static_auth">WiFi AP Authentication</label>
                                                <div class="time" style="padding:0px">
                                                    <select id="static_auth" style="margin-top:5px;margin-bottom:5px" >
                                                        <option value="WPA/WPA2">WPA/WPA2</option>
                                                        <option value="WEP">WEP</option>
                                                        <option value="OPEN">OPEN</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="task" style="border:none">
                                                <label class="desc" for="static_password">PassWord</label>
                                                <div class="time" style="padding:0px">
                                                    <input type="text" id="static_password" style="margin-top:5px;margin-bottom:5px">
                                                </div>
                                            </div>
                                            <p class="seperate_line"></p>
                                            <div class="control-group">
                                                <div class="controls-bottomline">
                                                    <label class="checkbox inline">
                                                        <input type="checkbox" id="static_eth_check" value="option1"><b id="static_eth_conn"> Ethernet </b>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="task">
                                                <label class="desc" for="static_eth_ipAddr">IP Address</label>
                                                <div class="time" style="padding:0px">
                                                    <input type="text" id="static_eth_ipAddr" style="margin-top:5px;margin-bottom:5px">
                                                </div>
                                            </div>
                                            <div class="task">
                                                <label class="desc" for="static_eth_subnet">Subnet Mask</label>
                                                <div class="time" style="padding:0px">
                                                    <input type="text" id="static_eth_subnet" style="margin-top:5px;margin-bottom:5px">
                                                </div>
                                            </div>
                                            <div class="task">
                                                <label class="desc" for="static_eth_gateway">Gateway</label>
                                                <div class="time" style="padding:0px">
                                                    <input type="text" id="static_eth_gateway" style="margin-top:5px;margin-bottom:5px">
                                                </div>
                                            </div>
                                            <div class="task">
                                                <label class="desc" for="static_eth_dns1">DNS 1</label>
                                                <div class="time" style="padding:0px">
                                                    <input type="text" id="static_eth_dns1" style="margin-top:5px;margin-bottom:5px">
                                                </div>
                                            </div>
                                            <div class="task">
                                                <label class="desc" for="static_eth_dns2">DNS 2</label>
                                                <div class="time" style="padding:0px">
                                                    <input type="text" id="static_eth_dns2" style="margin-top:5px;margin-bottom:5px">
                                                </div>
                                            </div>
                                        </div>
                                        <p class="seperate_line"></p>
                                        <div class="task" style="border:none;text-align: center;" >
                                            <!-- <span> -->
                                            <div class="" style="display: inline-block;width:200px;" >
                                                <input type="button" class="btn" style="width:150px;" onClick="resetData()" value="Cancel" style="display: inline-block;" />
                                            </div>
                                            <div class="" style="display: inline-block;width:200px;" >
                                                <input id="confirm" class="btn btn-primary" style="width:150px" type="button" onClick="setNetworkInfo()" value="Confirm" />
                                            </div>
                                <!-- </span> -->
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                        <!--/span-->
                    <!-- </div> -->
                    <!--/row-->
                </div>
                <!--/.fluid-container-->
                <!-- end: Content -->
            <!-- </div> -->
            <!-- </form> -->
            <!--/#content.span10-->
        </div>
        <!--/fluid-row-->
</body>

</html>
