<div id="sidebar-left" class="span2" style="margin-left:0px;">
        <ul class="nav nav-tabs nav-stacked" style="margin:0px;">
            <li id="net_setup" style="cursor:pointer" onclick="checkChangeData(NETWORK_SETUP_URL);"><a><span class="hidden-tablet"> Network Setup</span></a></li>
            <li id="daq_setup" style="cursor:pointer" onclick="checkChangeData(DAQ_SETUP_URL);"><a><span class="hidden-tablet"> DAQ Setup</span></a></li>
            <li id="ad_setup" style="cursor:pointer" onclick="checkChangeData(ANALOG_SENSOR_URL);"><a><span class="hidden-tablet"> Analog Sensor</span></a></li>
            <li id="dg_setup" style="cursor:pointer" onclick="checkChangeData(DIGITAL_SENSOR_URL);"><a><span class="hidden-tablet"> Digital Sensor</span></a></li>
            <li id="usb_setup" style="cursor:pointer" onclick="checkChangeData(USB_SENSOR_URL);"><a><span class="hidden-tablet"> USB Sensor</span></a></li>
            <li id="time_setup" style="cursor:pointer" onclick="checkChangeData(TIME_SETUP_URL);"><a><span class="hidden-tablet"> Time Setup</span></a></li>
        </ul>
</div>