<div id="sidebar-left" class="span2" style="margin-left:0px;">
        <ul class="nav nav-tabs nav-stacked" style="margin:0px;">
            <li id="net_setup" style="cursor:pointer" onclick="checkChangeData(NETWORK_SETUP_URL);"><a><span class="hidden-tablet"> Network Setup</span></a></li>
            <li id="dg_setup" style="cursor:pointer" onclick="checkChangeData(DIGITAL_SENSOR_URL);"><a><span class="hidden-tablet"> Host Setup</span></a></li>
        </ul>
</div>