<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../public/head_setup %>
    <script>
    $(document).ready(function() {

    })
    var jsonData = null;
    var clickedLink = false;
    onload = function() {
        try {
            getAnalogConfig();
        } catch (exception) {}
        putOnChange();
    }

    function checkChangeData(URL) {
        clickedLink = true;
        if (disableNotChange() == true) {
            if (confirm("You have unsaved changes. Are you sure you want to proceed?\nAll of your changes will be lost.")) {
                location.href = URL;
            } else {
                clickedLink = false;
                return;
            }
        } else {
            location.href = URL;
        }

    }

   function resetData()
		{
			var analogConfigInfo = jsonData.analogConfigInfo;
			console.log(analogConfigInfo);
			if(analogConfigInfo != "error")
			{

				$("#ch1Sel").val(analogConfigInfo.ch1.mode);
				document.getElementById("ch1_name").value = analogConfigInfo.ch1.name;
				if(analogConfigInfo.ch1.status == "enable")
					document.getElementById("check_ad1").checked = true;
				else
					document.getElementById("check_ad1").checked = false;

				$("#ch2Sel").val(analogConfigInfo.ch2.mode);
				document.getElementById("ch2_name").value = analogConfigInfo.ch2.name;
				if(analogConfigInfo.ch2.status == "enable")
					document.getElementById("check_ad2").checked = true;
				else
					document.getElementById("check_ad2").checked = false;

				$("#ch3Sel").val(analogConfigInfo.ch3.mode);
				document.getElementById("ch3_name").value = analogConfigInfo.ch3.name;
				if(analogConfigInfo.ch3.status == "enable")
					document.getElementById("check_ad3").checked = true;
				else
					document.getElementById("check_ad3").checked = false;

				$("#ch4Sel").val(analogConfigInfo.ch4.mode);
				document.getElementById("ch4_name").value = analogConfigInfo.ch4.name;
				if(analogConfigInfo.ch4.status == "enable")
					document.getElementById("check_ad4").checked = true;
				else
					document.getElementById("check_ad4").checked = false;

			}
			cleanChanged();

		}
    function check_values( element_id){
        var element_id_value = document.getElementById(element_id).value;
        var reg_eg_num = /[a-zA-Z0-9]+$/g;
        if(!element_id_value || element_id_value.length>20 || !reg_eg_num.test(element_id_value)){
            alert("Eglish or number only.");
            document.getElementById(element_id).focus();
            return 0;
        }
        return 1;
    }


    function setAnalogConfig()
		{
			var result_check = check_values( "ch1_name");
		         if(result_check==0){
		            return;
		         }
		         var result_check = check_values( "ch2_name");
		         if(result_check==0){
		            return;
		         }
		         var result_check = check_values( "ch3_name");
		         if(result_check==0){
		            return;
		         }
		         var result_check = check_values( "ch4_name");
		         if(result_check==0){
		            return;
		         }

			var ch1_status= 'disable';
			var ch2_status= 'disable';
			var ch3_status= 'disable';
			var ch4_status= 'disable';

				if(document.getElementById("check_ad1").checked == true)
					ch1_status = 'enable';
				if(document.getElementById("check_ad2").checked == true)
					ch2_status = 'enable';
				if(document.getElementById("check_ad3").checked == true)
					ch3_status = 'enable';
				if(document.getElementById("check_ad4").checked == true)
					ch4_status = 'enable';

				var analogConfigInfo = {
					'analogConfigInfo': {
											'ch1':{
												'name':document.getElementById("ch1_name").value,
												'status':ch1_status,
												'mode':document.getElementById("ch1Sel").value,
												},
											'ch2':{
												'name':document.getElementById("ch2_name").value,
												'status':ch2_status,
												'mode':document.getElementById("ch2Sel").value,
												},
											'ch3':{
												'name':document.getElementById("ch3_name").value,
												'status':ch3_status,
												'mode':document.getElementById("ch3Sel").value,
												},
											'ch4':{
												'name':document.getElementById("ch4_name").value,
												'status':ch4_status,
												'mode':document.getElementById("ch4Sel").value,
												}

						}
					};

			var xmlHttp = null;
			xmlHttp = new XMLHttpRequest();

			xmlHttp.open("POST", '/setAnalogConfig', false);
			xmlHttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded;charset=utf-8");

			var dataString = JSON.stringify(analogConfigInfo);
			console.log("dataString:"+dataString);

			xmlHttp.send("json="+dataString);
			var jsonData = JSON.parse(xmlHttp.responseText);
			if(jsonData.result.status == "ok")
			{
				cleanChanged();
				alert("Successfully saved");
			}
			else
				alert("Saving Error");

			console.log(jsonData);
		}






    function getAnalogConfig()
		{
			var i = 0;
			var xmlHttp = null;
			xmlHttp = new XMLHttpRequest();

			xmlHttp.open("GET", '/getAnalogConfig', false);

			xmlHttp.send(null);
			jsonData = JSON.parse(xmlHttp.responseText);
			var analogConfigInfo = jsonData.analogConfigInfo;
			console.log(analogConfigInfo);
			if(analogConfigInfo != "error")
			{

				$("#ch1Sel").val(analogConfigInfo.ch1.mode);
				document.getElementById("ch1_name").value = analogConfigInfo.ch1.name;
				if(analogConfigInfo.ch1.status == "enable")
					document.getElementById("check_ad1").checked = true;
				else
					document.getElementById("check_ad1").checked = false;

				$("#ch2Sel").val(analogConfigInfo.ch2.mode);
				document.getElementById("ch2_name").value = analogConfigInfo.ch2.name;
				if(analogConfigInfo.ch2.status == "enable")
					document.getElementById("check_ad2").checked = true;
				else
					document.getElementById("check_ad2").checked = false;

				$("#ch3Sel").val(analogConfigInfo.ch3.mode);
				document.getElementById("ch3_name").value = analogConfigInfo.ch3.name;
				if(analogConfigInfo.ch3.status == "enable")
					document.getElementById("check_ad3").checked = true;
				else
					document.getElementById("check_ad3").checked = false;

				$("#ch4Sel").val(analogConfigInfo.ch4.mode);
				document.getElementById("ch4_name").value = analogConfigInfo.ch4.name;
				if(analogConfigInfo.ch4.status == "enable")
					document.getElementById("check_ad4").checked = true;
				else
					document.getElementById("check_ad4").checked = false;

			}
		}

    function checkIsStoppedProcess() {
        var xmlHttp = null;
        xmlHttp = new XMLHttpRequest();
        xmlHttp.open("GET", '/checkIsStoppedProcess', false);

        xmlHttp.send(null);
        jsonData = JSON.parse(xmlHttp.responseText);
        var status = jsonData.checkIsStoppedProcess.status;
        console.log(jsonData);

        if (jsonData != "error") {
            console.log("status:" + status);
            return Number(status);

        }
    };


    window.onbeforeunload = function(e) {


        //if(e  && checkIsStoppedProcess() != 0 && clickedLink== true){
        if (e && checkIsStoppedProcess() != 0 && clickedLink == false) {
            e.returnValue = "There is process was collecting Data. Are you sure to exit without collecting data?";
        }
        clickedLink = false;
    };
    </script>

    <!-- end: JavaScript-->
</head>

<body class="container" style="min-width:1280px;min-height: 1000px;overflow:scroll;">
    <header>
        <!-- start: Header -->
        <% include ../public/header %>
        <!-- start: Header -->
    </header>
        <form name="frm">
        <div class="">
            <div class="row" style="margin-left:0px;height:878px;background: white;">
                <!-- start: Main Menu -->
                <%include ../public/menu_setup%>
                <script>document.getElementById("ad_setup").className ="active";</script>
                <!-- end: Main Menu -->
                <noscript>
                    <div class="alert alert-block span10">
                        <h4 class="alert-heading">Warning!</h4>
                        <p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
                    </div>
                </noscript>
                <!-- start: Content -->
                <div id="content" class="span10" style="margin-left: 0px;padding-right: 30px;padding-left: 30px; min-width:1030px; max-width:1050px;">
                        <div class="box" style="min-width: 970px;">
                            <div class="box-header" data-original-title>
                                <h2><i class="halflings-icon white edit"></i><span class="break"></span>Analog Sensor</h2>
                            </div>
                        </div>
                        <!--/span-->
                    <!--/row-->

                    <!-- <div class="row-fluid sortable"> -->
                        <div class="box">
                            <div class="box-content">
                                <form class="form-horizontal">
                                    <fieldset>
                                        <div class="control-group">
                                            <div class="controls-bottomline">
                                                <!-- <label class="checkbox inline"> -->
                                                <p><b>* Check the box you want to use.</b></p>
                                                <p><b>* Name each Analog Sensor and select a filter to use in 'Reg 0'</b></p>
                                                <!-- </label> -->
                                            </div>
                                        </div>
                                        <p class="seperate"></p>
                                        <div class="control-group">
                                            <div class="controls-bottomline">
                                                <label class="checkbox inline">
                                                    <input type="checkbox" id="check_ad1" value="option1"> Analog Sensor 1
                                                </label>
                                            </div>
                                        </div>
                                        <div class="task" style="border:none">
                                            <label class="desc" for="ch1_name" style="width: 45%">Name</label>
                                            <div class="time" style="text-align: left;width: 230px;">
                                                <input type="text" id="ch1_name" maxlength="20">
                                            </div>1-20 Alphanumeric Characters Only
                                        </div>
                                        <div class="task" style="border:none">
                                            <label class="desc" for="ch1Sel" style="width: 45%">Reg 0</label>
                                            <div class="time" style="text-align: left;">
                                                <select id="ch1Sel">
                                                    <option value="1">TIME</option>
                                                    <option value="2">FFT</option>
                                                    <option value="3">FIR</option>
                                                    <option value="4">RMS</option>
                                                </select>
                                            </div>
                                        </div>
                                        <p class="seperate">
                                            <div class="control-group">
                                                <div class="controls-bottomline">
                                                    <label class="checkbox inline">
                                                        <input type="checkbox" id="check_ad2" value="option1"> Analog Sensor 2
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="task" style="border:none">
                                                <label class="desc" for="ch2_name" style="width: 45%">Name</label>
                                                <div class="time" style="text-align: left;">
                                                    <input type="text" id="ch2_name" maxlength="20">
                                                </div>
                                            </div>
                                            <div class="task" style="border:none">
                                                <label class="desc" for="ch2Sel" style="width: 45%">Reg 0</label>
                                                <div class="time" style="text-align: left;">
                                                    <select id="ch2Sel">
                                                        <option value="1">TIME</option>
                                                        <option value="2">FFT</option>
                                                        <option value="3">FIR</option>
                                                        <option value="4">RMS</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <p class="seperate"></p>
                                            <div class="control-group">
                                                <div class="controls-bottomline">
                                                    <label class="checkbox inline">
                                                        <input type="checkbox" id="check_ad3" value="option1"> Analog Sensor 3
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="task" style="border:none">
                                                <label class="desc" for="ch3_name" style="width: 45%">Name</label>
                                                <div class="time" style="text-align: left;">
                                                    <input type="text" id="ch3_name" maxlength="20">
                                                </div>
                                            </div>
                                            <div class="task" style="border:none">
                                                <label class="desc" for="ch3Sel" style="width: 45%">Reg 0</label>
                                                <div class="time" style="text-align: left;">
                                                    <select id="ch3Sel">
                                                        <option value="1">TIME</option>
                                                        <option value="2">FFT</option>
                                                        <option value="3">FIR</option>
                                                        <option value="4">RMS</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <p class="seperate"></p>
                                            <div class="control-group">
                                                <div class="controls-bottomline">
                                                    <label class="checkbox inline">
                                                        <input type="checkbox" id="check_ad4" value="option1"> Analog Sensor 4
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="task" style="border:none">
                                                <label class="desc" for="ch4_name" style="width: 45%">Name</label>
                                                <div class="time" style="text-align: left;">
                                                    <input type="text" id="ch4_name" maxlength="20">
                                                </div>
                                            </div>
                                            <div class="task" style="border:none">
                                                <label class="desc" for="ch4Sel" style="width: 45%">Reg 0</label>
                                                <div class="time" style="text-align: left;">
                                                    <select id="ch4Sel">
                                                        <option value="1">TIME</option>
                                                        <option value="2">FFT</option>
                                                        <option value="3">FIR</option>
                                                        <option value="4">RMS</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <p class="seperate" ></p>
                                            <div class="task" style="border:none;text-align: center;" >
                                                <div class="" style="display: inline-block;width:200px;" >
                                                    <input type="button" class="btn" style="width:150px; " onClick="resetData()" value="Cancel"/>
                                                </div>
                                                <div class="" style="display: inline-block;width:200px;" >
                                                    <div><input id="confirm" class="btn btn-primary" style="width:150px" type="button" onClick="setAnalogConfig()" value="Confirm"/></div>
                                                </div>
                                            </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                        <!--/span-->
                    </div>
                    <!--/row-->
                </div>
                <!--/.fluid-container-->
                <!-- end: Content -->
            </div>
            <!--/#content.span10-->
        <!-- </div> -->
        <!--/fluid-row-->
    </form>
</body>

</html>
