<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../public/head_setup %>

    <script>
    $(document).ready(function() {

    })

    var jsonData = null;
    var clickedLink = false;
    onload = function() {
        try {
            getDigitalConfig();
        } catch (exception) {}
        putOnChange();
    }

    function checkChangeData(URL) {
        clickedLink = true;
        if (disableNotChange() == true) {
            if (confirm("You have unsaved changes. Are you sure you want to proceed?\nAll of your changes will be lost.")) {
                location.href = URL;
            } else {
                clickedLink = false;
                return;
            }
        } else {
            location.href = URL;
        }

    }

    function resetData()
		{
			if(jsonData != null && jsonData != "error")
			{
				var digitalConfigInfo = jsonData.digitalConfigInfo;
				console.log(digitalConfigInfo);
				if(digitalConfigInfo != "error")
				{
					document.getElementById("ch1_name").value = digitalConfigInfo.ch1.name;

					if(digitalConfigInfo.ch1.mode == "NPN")
						$("#d1Radio1").attr("checked", true) ;
					else
						$("#d1Radio2").attr("checked", true) ;

					if(digitalConfigInfo.ch1.status == "enable")
						document.getElementById("check_d1").checked = true;
					else
						document.getElementById("check_d1").checked = false;

					document.getElementById("ch2_name").value = digitalConfigInfo.ch2.name;

					if(digitalConfigInfo.ch2.mode == "NPN")
						$("#d2Radio1").attr("checked", true) ;
					else
						$("#d2Radio2").attr("checked", true) ;

					if(digitalConfigInfo.ch2.status == "enable")
						document.getElementById("check_d2").checked = true;
					else
						document.getElementById("check_d2").checked = false;


					document.getElementById("ch3_name").value = digitalConfigInfo.ch3.name;
					if(digitalConfigInfo.ch3.mode == "NPN")
						$("#d3Radio1").attr("checked", true);
					else
						$("#d3Radio2").attr("checked", true);

					if(digitalConfigInfo.ch3.status == "enable")
						document.getElementById("check_d3").checked = true;
					else
						document.getElementById("check_d3").checked = false;

					document.getElementById("ch4_name").value = digitalConfigInfo.ch4.name;
					if(digitalConfigInfo.ch4.mode == "NPN")
						$("#d4Radio1").attr("checked", true) ;
					else
						$("#d4Radio2").attr("checked", true) ;

					if(digitalConfigInfo.ch4.status == "enable")
						document.getElementById("check_d4").checked = true;
					else
						document.getElementById("check_d4").checked = false;
				}
			}
			cleanChanged();
		}

    function check_values( element_id){
        var element_id_value = document.getElementById(element_id).value;
        var reg_eg_num = /[a-zA-Z0-9]+$/g;
        if(!element_id_value || element_id_value.length>20 || !reg_eg_num.test(element_id_value)){
            alert("Eglish or number only.");
            document.getElementById(element_id).focus();
            return 0;
        }
        return 1;
    }

   function setDigitalConfig()
		{
			var result_check = check_values( "ch1_name");
		         if(result_check==0){
		            return;
		         }
		         var result_check = check_values( "ch2_name");
		         if(result_check==0){
		            return;
		         }
		         var result_check = check_values( "ch3_name");
		         if(result_check==0){
		            return;
		         }
		         var result_check = check_values( "ch4_name");
		         if(result_check==0){
		            return;
		         }

			var ch1Mode='';
			var ch2Mode='';
			var ch3Mode='';
			var ch4Mode='';

			var ch1status = 'disable';
			var ch2status = 'disable';
			var ch3status = 'disable';
			var ch4status = 'disable';

			if(document.getElementById("d1Radio1").checked == true)
				ch1Mode = "NPN";
			else
				ch1Mode = "PNP";

			if(document.getElementById("d2Radio1").checked == true)
				ch2Mode = "NPN";
			else
				ch2Mode = "PNP";

			if(document.getElementById("d3Radio1").checked == true)
				ch3Mode = "NPN";
			else
				ch3Mode = "PNP";

			if(document.getElementById("d4Radio1").checked == true)
				ch4Mode = "NPN";
			else
				ch4Mode = "PNP";


			if(document.getElementById("check_d1").checked == true)
				ch1status = "enable";
			if(document.getElementById("check_d2").checked == true)
				ch2status = "enable";
			if(document.getElementById("check_d3").checked == true)
				ch3status = "enable";
			if(document.getElementById("check_d4").checked == true)
				ch4status = "enable";


					var digitalConfigInfo = {
						'digitalConfigInfo': {
												'ch1':{
													'name':document.getElementById("ch1_name").value,
													'status':ch1status,
													'mode':ch1Mode,
													},
												'ch2':{
													'name':document.getElementById("ch2_name").value,
													'status':ch2status,
													'mode':ch2Mode,
													},
												'ch3':{
													'name':document.getElementById("ch3_name").value,
													'status':ch3status,
													'mode':ch3Mode,
													},
												'ch4':{
													'name':document.getElementById("ch4_name").value,
													'status':ch4status,
													'mode':ch4Mode,
													}

											}
						};



			var xmlHttp = null;
			xmlHttp = new XMLHttpRequest();

			xmlHttp.open("POST", '/setDigitalConfig', false);
			xmlHttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded;charset=utf-8");

			var dataString = JSON.stringify(digitalConfigInfo);
			console.log("dataString:"+dataString);

			xmlHttp.send("json="+dataString);
			console.log("resText:"+	xmlHttp.responseText);
			var jsonData = JSON.parse(xmlHttp.responseText);
			if(jsonData.result.status == "ok")
			{
			cleanChanged();
			alert("Successfully saved");

			}
			else
				alert("Saving Error");

			console.log(jsonData);
		}

		function getDigitalConfig()
		{
			var xmlHttp = new XMLHttpRequest();

			xmlHttp.open("GET", '/getDigitalConfig', false);

			xmlHttp.send(null);
			jsonData = JSON.parse(xmlHttp.responseText);
			var digitalConfigInfo = jsonData.digitalConfigInfo;
			console.log(digitalConfigInfo);
			if(digitalConfigInfo != "error")
			{

				document.getElementById("ch1_name").value = digitalConfigInfo.ch1.name;

				if(digitalConfigInfo.ch1.mode == "NPN")
					$("#d1Radio1").attr("checked", true) ;
				else
					$("#d1Radio2").attr("checked", true) ;

				if(digitalConfigInfo.ch1.status == "enable")
					document.getElementById("check_d1").checked = true;
				else
					document.getElementById("check_d1").checked = false;

				document.getElementById("ch2_name").value = digitalConfigInfo.ch2.name;

				if(digitalConfigInfo.ch2.mode == "NPN")
					$("#d2Radio1").attr("checked", true) ;
				else
					$("#d2Radio2").attr("checked", true) ;

				if(digitalConfigInfo.ch2.status == "enable")
					document.getElementById("check_d2").checked = true;
				else
					document.getElementById("check_d2").checked = false;


				document.getElementById("ch3_name").value = digitalConfigInfo.ch3.name;
				if(digitalConfigInfo.ch3.mode == "NPN")
					$("#d3Radio1").attr("checked", true);
				else
					$("#d3Radio2").attr("checked", true);

				if(digitalConfigInfo.ch3.status == "enable")
					document.getElementById("check_d3").checked = true;
				else
					document.getElementById("check_d3").checked = false;

				document.getElementById("ch4_name").value = digitalConfigInfo.ch4.name;
				if(digitalConfigInfo.ch4.mode == "NPN")
					$("#d4Radio1").attr("checked", true) ;
				else
					$("#d4Radio2").attr("checked", true) ;

				if(digitalConfigInfo.ch4.status == "enable")
					document.getElementById("check_d4").checked = true;
				else
					document.getElementById("check_d4").checked = false;


			}
		}

    function checkIsStoppedProcess() {
        var xmlHttp = null;
        xmlHttp = new XMLHttpRequest();
        xmlHttp.open("GET", '/checkIsStoppedProcess', false);

        xmlHttp.send(null);
        jsonData = JSON.parse(xmlHttp.responseText);
        var status = jsonData.checkIsStoppedProcess.status;
        console.log(jsonData);

        if (jsonData != "error") {
            console.log("status:" + status);
            return Number(status);

        }
    };


    window.onbeforeunload = function(e) {


        if (e && checkIsStoppedProcess() != 0 && clickedLink == false) {

            e.returnValue = "There is process was collecting Data. Are you sure to exit without collecting data?";
        }
        clickedLink = false;
    };
    </script>

    <!-- end: JavaScript-->
</head>

<body class="container" style="min-width:1280px;min-height: 1000px;overflow:scroll;">
    <header>
        <!-- start: Header -->
        <% include ../public/header %>
        <!-- start: Header -->
    </header>
    <form name="frm">
        <div class="">
            <div class="row" style="margin-left:0px;height:818px;background: white;">
                <!-- start: Main Menu -->
                <%include ../public/menu_setup%>
                <script>document.getElementById("dg_setup").className ="active";</script>
                <!-- end: Main Menu -->
                <noscript>
                    <div class="alert alert-block span10">
                        <h4 class="alert-heading">Warning!</h4>
                        <p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
                    </div>
                </noscript>
                <!-- start: Content -->
                <div id="content" class="span10" style="margin-left: 0px;padding-right: 30px;padding-left: 30px; min-width:1030px; max-width:1050px;">
                        <div class="box" style="min-width: 970px;">
                            <div class="box-header" data-original-title>
                                <h2><i class="halflings-icon white edit"></i><span class="break"></span>Digital Sensor</h2>
                            </div>
                        </div>
                        <!--/span-->
                    <!--/row-->

                    <!-- <div class="row-fluid sortable"> -->
                        <div class="box">
                            <div class="box-content">
                                <form class="form-horizontal">
                                    <fieldset>
                                        <div class="control-group">
                                            <div class="controls-bottomline">
                                                <p><b>* Check the box you want to use.</b></p>
                                                <p><b>* Name each Digital Sensor and select a type.</b></p>
                                                <!-- <label class="checkbox inline"> -->
                                                <!-- </label> -->
                                            </div>
                                        </div>
                                        <p class="seperate" style="margin-bottom:10px;margin-top:10px"></p>
                                        <div class="control-group" style="margin-left:30px">
                                            <div class="controls-bottomline">
                                                <label class="checkbox inline">
                                                    <input type="checkbox" id="check_d1" value="option1"> Digital Sensor 1
                                                </label>
                                            </div>
                                        </div>
                                        <div class="task" style="border:none">
                                            <label class="desc" for="ch1_name" style="width: 30%;">Name</label>
                                            <div class="time" style="text-align: left;width: 230px;" >
                                                <input type="text" id="ch1_name" maxlength="20">
                                            </div>1-20 Alphanumeric Characters Only
                                        </div>
                                        <div class="task" style="border:none">
                                            <label class="desc" style="width:30%">Sensor Type</label>
                                            <div class="time" style="width:60%;text-align: left;">
                                                <input type="radio" id="d1Radio1" name="d1Radio" value="npn">
                                                <label class="radio inline" style="width:70px;margin-right:200px">
                                                    NPN
                                                </label>
                                                <input type="radio" id="d1Radio2" name="d1Radio" value="pnp">
                                                <label class="radio inline" style="width:70px">
                                                    PNP
                                                </label>
                                            </div>
                                        </div>
                                        <p class="seperate">
                                            <div class="control-group" style="margin-left:30px">
                                                <div class="controls-bottomline">
                                                    <label class="checkbox inline">
                                                        <input type="checkbox" id="check_d2" value="option1"> Digital Sensor 2
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="task" style="border:none">
                                                <label class="desc" for="ch2_name" style="width: 30%;">Name</label>
                                                <div class="time">
                                                    <input type="text" id="ch2_name" maxlength="20">
                                                </div>
                                            </div>
                                            <div class="task" style="border:none">
                                                <label class="desc" style="width:30%">Sensor Type</label>
                                                <div class="time" style="width:60%;text-align: left;">
                                                    <input type="radio" id="d2Radio1" name="d2Radio" value="npn">
                                                    <label class="radio inline" style="width:70px;margin-right:200px">
                                                        NPN
                                                    </label>
                                                    <input type="radio" id="d2Radio2" name="d2Radio" value="pnp">
                                                    <label class="radio inline" style="width:70px">
                                                        PNP
                                                    </label>
                                                </div>
                                            </div>
                                            <p class="seperate">
                                                <div class="control-group" style="margin-left:30px">
                                                    <div class="controls-bottomline">
                                                        <label class="checkbox inline">
                                                            <input type="checkbox" id="check_d3" value="option1"> Digital Sensor 3
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="task" style="border:none">
                                                    <label class="desc" for="ch3_name" style="width: 30%;">Name</label>
                                                    <div class="time">
                                                        <input type="text" id="ch3_name" maxlength="20">
                                                    </div>
                                                </div>
                                                <div class="task" style="border:none">
                                                    <label class="desc" style="width:30%">Sensor Type</label>
                                                    <div class="time" style="width:60%;text-align: left;">
                                                        <input type="radio" id="d3Radio1" name="d3Radio" value="npn">
                                                        <label class="radio inline" style="width:70px;margin-right:200px">
                                                            NPN
                                                        </label>
                                                        <input type="radio" id="d3Radio2" name="d3Radio" value="pnp">
                                                        <label class="radio inline" style="width:70px">
                                                            PNP
                                                        </label>
                                                    </div>
                                                </div>
                                                <p class="seperate">
                                                    <div class="control-group" style="margin-left:30px">
                                                        <div class="controls-bottomline">
                                                            <label class="checkbox inline">
                                                                <input type="checkbox" id="check_d4" value="option1"> Digital Sensor 4
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="task" style="border:none">
                                                        <label class="desc" for="ch4_name" style="width: 30%;">Name</label>
                                                        <div class="time">
                                                            <input type="text" id="ch4_name" maxlength="20">
                                                        </div>
                                                    </div>
                                                    <div class="task" style="border:none">
                                                        <label class="desc" style="width:30%">Sensor Type</label>
                                                        <div class="time" style="width:60%;text-align: left;">
                                                            <input type="radio" id="d4Radio1" name="d4Radio" value="npn">
                                                            <label class="radio inline" style="width:70px;margin-right:200px">
                                                                NPN
                                                            </label>
                                                            <input type="radio" id="d4Radio2" name="d4Radio" value="pnp">
                                                            <label class="radio inline" style="width:70px">
                                                                PNP
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <p class="seperate">
                                                   <div class="task" style="border:none;text-align: center;" >
                                                        <div class="" style="display: inline-block;width:200px;" >
                                                            <input type="button" class="btn" style="width:150px; " onClick="resetData()" value="Cancel"/>
                                                        </div>
                                                        <div class="" style="display: inline-block;width:200px;" >
                                                            <input id="confirm" class="btn btn-primary" style="width:150px" type="button" onClick="setDigitalConfig()" value="Confirm"/>
                                                        </div>
                                                    </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                        <!--/span-->
                    </div>
                    <!--/row-->
                </div>
                <!--/.fluid-container-->
                <!-- end: Content -->
            </div>
            <!--/#content.span10-->
        <!-- </div> -->
        <!--/fluid-row-->
        <div class="clearfix"></div>
    </form>
</body>

</html>
