<div class="navbar" style="">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="brand"><span>ezConn</span></a>
            <div style="padding-top:20px;margin-left:350px;">
                <table>
                    <td>
                       Data Processing is OFF now. Go to main page to turn it on.
                    </td>
                    <td>
                        <input type="button" class="btn btn-primary" style="width:200px;margin-left:100px" onClick="resumeProcessRunning()" value="Go to main" />
                    </td>
                </table>
            </div>
        </div>
    </div>
</div>