<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../public/head %>

</head>
<script>
	const CHECK_RUNNING_PROCESS = 0;
	const START_COLLECTING_DATA = 1;
	const START_STREAMING_DATA = 2;
	const RESTART_COLLECTING_DATA = 3;
	const RESTART_STREAMING_DATA = 4;
	const STOP_PROCESSING = 5;
	const STOP_PROCESSING_V = 6;
	const STOP_PROCESSING_S = 7;

	const RUNNING_COLLECTION_DATA = 1;
	const RUNNING_STREAM_DATA = 2;

	const CMD_STATUS_WRONG_COMMAND = -2;
	const CMD_STATUS_NOK = -1;
	const CMD_STATUS_OK = 0;
	const CMD_STATUS_ALREADY_RUNNING = 1;
    function restart(){
		var xmlHttp = null;
		xmlHttp = new XMLHttpRequest();
		xmlHttp.open("GET", '/restart', false);

		xmlHttp.send(null);
		jsonData = JSON.parse(xmlHttp.responseText);
		if(jsonData.result.status == "ok")
			alert("Success");
		else
			alert("Fail");
    }
    function collection_button(value){
        if(value=='on'){
            document.getElementById("startcollecting").disabled = true;
            document.getElementById("startcollecting").style.background = "#5bb75b";
            document.getElementById("startcollecting").style.borderColor  = "#5bb75b";
        }else if(value=='off'){
            document.getElementById("startcollecting").disabled = false;
            document.getElementById("startcollecting").style.background = "#E25A59";
            document.getElementById("startcollecting").style.borderColor = "#E25A59";
            $("#startcollecting").hover(function(){
                $(this).css("background", "#bd362f");
                }, function(){
                $(this).css("background", "#E25A59");
            });
        }
    }

    function streaming_button(value){
        if(value=='on'){
            document.getElementById("startstreaming").disabled = true;
            document.getElementById("startstreaming").style.background = "#5bb75b";
            document.getElementById("startstreaming").style.borderColor  = "#5bb75b";
        }else if(value=='off'){
            document.getElementById("startstreaming").disabled = false;
            document.getElementById("startstreaming").style.background = "#E25A59";
            document.getElementById("startstreaming").style.borderColor  = "#E25A59";
            $("#startstreaming").hover(function(){
                $(this).css("background", "#bd362f");
                }, function(){
                $(this).css("background", "#E25A59");
            });
        }
    }

function cmdEzConn(cmd)
	{
		switch(cmd)
		{
			case CHECK_RUNNING_PROCESS:
				var xmlHttp = null;
				xmlHttp = new XMLHttpRequest();
				xmlHttp.open("GET", '/checkRunningProcess', false);

				xmlHttp.send(null);
				jsonData = JSON.parse(xmlHttp.responseText);
				var timeInfo = jsonData.devTimeInfo;
				console.log(jsonData);

				if(jsonData != "error")
				{
					var result = jsonData.running_process.status;
					if(result & RUNNING_COLLECTION_DATA)
                                                                                        collection_button('on');
						// document.getElementById("startcollecting").disabled = true;
					else
						collection_button('off');
                                                                                        // document.getElementById("startcollecting").disabled = false;
					if(result & RUNNING_STREAM_DATA)
						// document.getElementById("startstreaming").disabled = true;
                                                                                        streaming_button('on');
					else
                                                                                        streaming_button('off');
						// document.getElementById("startstreaming").disabled = false;
					console.log("result:"+result);
				}
				break;

			case START_COLLECTING_DATA:
			case RESTART_COLLECTING_DATA:
				var xmlHttp = null;
				var m_flag;

				xmlHttp = new XMLHttpRequest();
				xmlHttp.open("POST", '/cmdEzConn', false);

				var ezconncmd = {
				'cmd': cmd,
				};

				xmlHttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded;charset=utf-8");

				var jsonData = JSON.stringify(ezconncmd);
				xmlHttp.send("json="+jsonData);
				var jsonData = JSON.parse(xmlHttp.responseText);

				if(jsonData.running_process.status == CMD_STATUS_OK){
					alert("started the collecting data");
                                                                            collection_button('on');
					// document.getElementById("startcollecting").disabled = true;
                                                                            streaming_button('off');
					// document.getElementById("startstreaming").disabled = false;
				}
				else if(jsonData.running_process.status == CMD_STATUS_ALREADY_RUNNING){
					if (confirm("Data collecting is already running. Are you sure to restart?")) {
						ezconncmd(RESTART_COLLECTING_DATA);
					} else {
						return;
					}
				}else{
					alert("failed to start the collecting data");
				}

				break;

			case START_STREAMING_DATA:
			case RESTART_STREAMING_DATA:
				var xmlHttp = null;

				xmlHttp = new XMLHttpRequest();
				xmlHttp.open("POST", '/cmdEzConn', false);

				var ezconncmd = {
				'cmd': cmd,
				};

				xmlHttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded;charset=utf-8");

				var jsonData = JSON.stringify(ezconncmd);
				xmlHttp.send("json="+jsonData);
				var jsonData = JSON.parse(xmlHttp.responseText);
				if(jsonData.running_process.status == CMD_STATUS_OK){
					alert("started the streaming data");
                                                                            streaming_button('on');
                                                                            collection_button('off');
					// document.getElementById("startstreaming").disabled = true;
					// document.getElementById("startcollecting").disabled = false;
				}
				else if(jsonData.running_process.status == CMD_STATUS_ALREADY_RUNNING){
					if (confirm("Data streaming is already running. Are you sure to restart?")) {
						ezconncmd(RESTART_STREAMING_DATA);
					} else {
						return;
					}
				}else{
					alert("failed to start the streaming data");
				}

				break;

			case STOP_PROCESSING_V:
			case STOP_PROCESSING_S:

				var xmlHttp = null;
				var m_flag;

				xmlHttp = new XMLHttpRequest();
				xmlHttp.open("POST", '/cmdEzConn', false);

				var ezconncmd = {
				'cmd': STOP_PROCESSING,
				};

				xmlHttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded;charset=utf-8");

				var jsonData = JSON.stringify(ezconncmd);
				xmlHttp.send("json="+jsonData);
				var jsonData = JSON.parse(xmlHttp.responseText);

				if(jsonData.running_process.status == CMD_STATUS_OK){
					if(cmd == STOP_PROCESSING_V)
						location.href = VISUALIZATION_URL;
					else
						location.href = NETWORK_SETUP_URL;
				}else{
					alert("failed to start the collecting data");
				}
				break;

		}
	}

    function startRealtimeStream(){
        alert("Real time Streaming started");
    }

    function startAutoSave(){
        alert("Auto save started");
    }

     onload = function(){
		cmdEzConn(CHECK_RUNNING_PROCESS);
     }
</script>

<body class="container" style="width:1200px;min-height: 783px;">
    <!-- <main> -->
    <div class="navbar">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="brand" href="index.html"><span>ALOOH</span></a>
                 <div style="padding-top:20px;margin-left:350px;">
                    <table>
                        <td>
                            You must restart to apply the changes in DAQ setup/Time Setup/Network Setup.
                        </td>
                        <td>
                            <input type="button" class="btn btn-primary" style="width:100px;margin-left:100px" onClick="restart()" value="Restart" />
                        </td>
                    </table>
                </div>

            </div>

        </div>
    </div>
    <!-- start: Header -->
    <div class="container-fluid-full" >
        <div class="row-fluid-full">
            <form class="form-horizontal">
                <img src="img/edgeAnalyzer_main.png"  height="600"  style="padding-bottom:2px">
                        <div class="control-group" style="float:left;margin-left:0px;margin-right:0px;width:598px;border: 1px groove;padding-bottom: 2px;">
                            <div class="controls-bottomline" style="padding-left:50px;text-align:left;height:20px;">
                                <b style="font-size: 17px;">Data Visualization / Setting</b>
                            </div>
                            <div style="text-align: center;margin:auto;width:100%;display: inline;">
                                <input type="button" class="btn btn-primary" style="width:200px;margin: 0px 48px 0px 48px;" onClick="cmdEzConn(STOP_PROCESSING_V)" value="Go to Data Visualization">
                                <input id="confirm" class="btn btn-primary" style="width:200px;margin: 0px 48px 0px 48px;" type="button" onClick="cmdEzConn(STOP_PROCESSING_S)" value="Go to Setting">
                            </div>
                            <div class="controls-bottomline" style="padding-left:50px;text-align:left;height:36px;">
                            When you go to 'Data Visualization' or 'Setting' page, <br>Data processing(Real time streaming&Auto save) will stop.
                            </div>
                        </div>
                        <div class="control-group" style="float:left;margin-left:0px;margin-right:0px;width:598px;border: 1px groove;padding-bottom: 2px;">
                            <div class="controls-bottomline" style="padding-left:50px;text-align:left;height:20px;">
                                <b style="font-size: 17px;">Data processing</b>
                            </div>
                            <div style="text-align: center;margin:auto;width:100%;display: inline;">
                                <input id="startstreaming" type="button" class="btn btn-danger" style="width:200px;margin: 0px 48px 0px 48px;" onClick="cmdEzConn(START_STREAMING_DATA)" value="Start Real time Streaming">
                                <input id="startcollecting" class="btn btn-danger" style="width:200px;margin: 0px 48px 0px 48px;" type="button" onClick="cmdEzConn(START_COLLECTING_DATA)" value="Start Auto save">
                            </div>
                            <div class="controls-bottomline" style="padding-left:50px;text-align:left;height:36px;">
                                 You can start or stop 'Real time Streaming' or 'Auto save'. <br>When one of them starts, the other stops.
                            </div>
                        </div>
            </form>
        </div>
</body>

</html>
