<div id="sidebar-left" class="span2" style="margin-left:0px;">
    <ul class="nav nav-tabs nav-stacked" style="margin:0px;">
        <li class="active">
            <a><i class="icon-bar-chart"></i><span class="hidden-tablet" style=""> Data Visualization</span></a>
        </li>
    </ul>
</div>