<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../public/head_setup %>

    <script src="js/timezone.js"></script>
    <script>
        var clickedLink = false;
        $(document).ready(function() {
            for (var i = 2016; i <= 2040; i++) {
                var opt = document.createElement('option');
                opt.value = i;
                opt.appendChild(document.createTextNode(i));
                $("#year").append(opt);
            }
            for (var i = 1; i <= 12; i++) {
                var opt = document.createElement('option');
                opt.value = i;
                if (i < 10)
                    opt.appendChild(document.createTextNode('0' + i));
                else
                    opt.appendChild(document.createTextNode(i));
                $("#month").append(opt);
            }
            for (var i = 1; i <= 31; i++) {
                var opt = document.createElement('option');
                opt.value = i;
                if (i < 10)
                    opt.appendChild(document.createTextNode('0' + i));
                else
                    opt.appendChild(document.createTextNode(i));
                $("#date").append(opt);
            }
            for (var i = 0; i <= 23; i++) {
                var opt = document.createElement('option');
                opt.value = i;
                if (i < 10)
                    opt.appendChild(document.createTextNode('0' + i));
                else
                    opt.appendChild(document.createTextNode(i));
                $("#hour").append(opt);
            }
            for (var i = 0; i <= 59; i++) {
                var opt = document.createElement('option');
                opt.value = i;
                if (i < 10)
                    opt.appendChild(document.createTextNode('0' + i));
                else
                    opt.appendChild(document.createTextNode(i));
                $("#min").append(opt);
            }
            for (var i = 0; i <= 59; i++) {
                var opt = document.createElement('option');
                opt.value = i;
                if (i < 10)
                    opt.appendChild(document.createTextNode('0' + i));
                else
                    opt.appendChild(document.createTextNode(i));
                $("#sec").append(opt);
            }


            var citys = getTimeZoneCity();
            var times = getTimeZoneValueRaw();
            var code = getTimeZoneCode();
            //for(i in citys)
            //console.log(citys[i]);
            for (var i = 0; i < citys.length; i++) {
                var opt = document.createElement('option');
                opt.value = i;

                opt.appendChild(document.createTextNode(citys[i] + ' ' + code[i] + times[i]));
                $("#timezone").append(opt);
            }

            $("#month").change(function() {
                var lastday = 0;
                if ($(this).val() == 2)
                    lastday = 28;
                else if ($(this).val() == 4 || $(this).val() == 6 || $(this).val() == 9 || $(this).val() == 11)
                    lastday = 30;
                else
                    lastday = 31;

                for (var i = 1; i <= lastday; i++) {
                    var opt = document.createElement('option');
                    opt.value = i;
                    if (i < 10)
                        opt.appendChild(document.createTextNode('0' + i));
                    else
                        opt.appendChild(document.createTextNode(i));
                    $("#date").append(opt);
                }
                $("#date").val(1);
            })

            $("#timezone").change(function() {

                console.log($(this).val());
            })
        })


        function checkChangeData(URL) {
            clickedLink = true;
            if (disableNotChange() == true) {
                if (confirm("You have unsaved changes. Are you sure you want to proceed?\nAll of your changes will be lost.")) {
                    location.href = URL;
                } else {
                    clickedLink = false;
                    return;
                }
            } else {
                location.href = URL;
            }

        }

        function resetData() {
            if (jsonData != null && jsonData != "error") {
                var timeInfo = jsonData.devTimeInfo;
                console.log(jsonData);

                if (jsonData != "error") {

                    var time = timeInfo.year + "." + timeInfo.month + "." + timeInfo.date + "  " + timeInfo.hour + ":" + timeInfo.min + ":" + timeInfo.sec;

                    document.getElementById("devtime").innerHTML = time;
                    $("#year").val(timeInfo.year);
                    $("#month").val(timeInfo.month);
                    $("#date").val(timeInfo.date);
                    console.log("hour:" + timeInfo.hour);
                    $("#hour").val(Number(timeInfo.hour));
                    $("#min").val(Number(timeInfo.min));
                    $("#sec").val(Number(timeInfo.sec));
                    $("#timezone").val(Number(timeInfo.timezoneidx));

                    if (timeInfo.settype == "timeserver") {
                        document.getElementById("optionsRadios2").checked = true
                        document.getElementById("timeserverurl").value = timeInfo.timeserverurl;
                    } else
                        document.getElementById("optionsRadios1").checked = true
                }
            }
            cleanChanged();
        }


        function getDeviceTime() {
            var xmlHttp = null;
            xmlHttp = new XMLHttpRequest();
            xmlHttp.open("GET", '/getDeviceTime', false);

            xmlHttp.send(null);
            jsonData = JSON.parse(xmlHttp.responseText);
            var timeInfo = jsonData.devTimeInfo;
            console.log(jsonData);

            if (jsonData != "error") {
                var time = timeInfo.year + "." + timeInfo.month + "." + timeInfo.date + "  " + timeInfo.hour + ":" + timeInfo.min + ":" + timeInfo.sec;

                document.getElementById("devtime").innerHTML = time;
                $("#year").val(timeInfo.year);
                $("#month").val(timeInfo.month);
                $("#date").val(timeInfo.date);
                console.log("hour:" + timeInfo.hour);
                $("#hour").val(Number(timeInfo.hour));
                $("#min").val(Number(timeInfo.min));
                $("#sec").val(Number(timeInfo.sec));
                $("#timezone").val(Number(timeInfo.timezoneidx));

                if (timeInfo.settype == "timeserver") {
                    document.getElementById("optionsRadios2").checked = true
                    document.getElementById("timeserverurl").value = timeInfo.timeserverurl;
                } else
                    document.getElementById("optionsRadios1").checked = true
            }
        }


        function setDeviceTime() {
            var xmlHttp = null;
            var settype;
            var timezoneflag;
            var timezoneIdx = -1;
            xmlHttp = new XMLHttpRequest();
            xmlHttp.open("POST", '/setDeviceTime', false);

            if (document.getElementById("optionsRadios1").checked == true)
                settype = document.getElementById("optionsRadios1").value;
            else
                settype = document.getElementById("optionsRadios2").value;

            timezoneflag = document.getElementById("inlineCheckbox1").checked;

            if (timezoneflag == true)
                timezoneIdx = document.getElementById("timezone").value;

            var times = getTimeZoneValue();
            var code = getTimeZoneCode();

            var timezonevalue = code[timezoneIdx] + times[timezoneIdx];
            var devTimeInfo = {
                'devTimeInfo': {
                    'settype': settype,
                    'timezoneflag': timezoneflag,
                    'timezoneidx': timezoneIdx,
                    'timezone': timezonevalue,
                    'timeserverurl': document.getElementById("timeserverurl").value,
                    'year': document.getElementById("year").value,
                    'month': document.getElementById("month").value,
                    'date': document.getElementById("date").value,
                    'hour': document.getElementById("hour").value,
                    'min': document.getElementById("min").value,
                    'sec': document.getElementById("sec").value,
                }
            };

            xmlHttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded;charset=utf-8");

            var jsonData = JSON.stringify(devTimeInfo);
            xmlHttp.send("json=" + jsonData);
            var jsonData = JSON.parse(xmlHttp.responseText);
            if (jsonData.result.status == "ok") {
                cleanChanged();
                alert("Successfully saved");
            } else
                alert("Saving Error");

            console.log(jsonData);
        }

        function checkIsStoppedProcess() {
            var xmlHttp = null;
            xmlHttp = new XMLHttpRequest();
            xmlHttp.open("GET", '/checkIsStoppedProcess', false);

            xmlHttp.send(null);
            jsonData = JSON.parse(xmlHttp.responseText);
            var status = jsonData.checkIsStoppedProcess.status;
            console.log(jsonData);

            if (jsonData != "error") {
                console.log("status:" + status);
                return Number(status);

            }
        };

        window.onbeforeunload = function(e) {

            if (e && checkIsStoppedProcess() != 0 && clickedLink == false) {

                e.returnValue = "There is process was collecting Data. Are you sure to exit without collecting data?";
            }
            clickedLink = false;
        };

        onload = function() {
            try {
                getDeviceTime();
            } catch (exception) {}
            putOnChange();
        }
    </script>

    <!-- end: JavaScript-->
</head>

<body class="container" style="min-width:1280px;min-height: 1000px;overflow:scroll;">
    <header>
        <!-- start: Header -->
        <% include ../public/header %>
        <!-- start: Header -->
    </header>
    <form name="frm">
        <div class="">
            <div class="row" style="margin-left:0px;height:710px;background: white;">
                <!-- start: Main Menu -->
                <%include ../public/menu_setup%>
                <script>document.getElementById("time_setup").className ="active";</script>
                <!-- end: Main Menu -->
                <noscript>
                    <div class="alert alert-block span10">
                        <h4 class="alert-heading">Warning!</h4>
                        <p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
                    </div>
                </noscript>
                <!-- start: Content -->
                <div id="content" class="span10" style="margin-left: 0px;padding-right: 30px;padding-left: 30px; min-width:1030px; max-width:1050px;">
                    <!-- <div> -->
                        <div class="box" style="min-width: 970px;">
                            <div class="box-header" data-original-title>
                                <h2><i class="halflings-icon white edit"></i><span class="break"></span>Time Setup</h2>
                            </div>
                        </div>
                        <!--/span-->
                    <!-- </div> -->
                    <!--/row-->
                    <!-- <div class="row-fluid sortable"> -->
                        <div class="box">
                            <div class="box-content">
                                <form class="form-horizontal">
                                    <fieldset>
                                        <div class="control-group">
                                            <div class="controls-bottomline">
                                                <!-- <label class="checkbox inline"> -->
                                                    <p><b> * Set desired time. Select a time zone and set criteria.</b></p>
                                                <!-- </label> -->
                                            </div>
                                        </div>
                                        <p class="seperate"></p>
                                        <div class="task">
                                            <label class="desc" style="width:7%;font-size: 16px">Time :</label>
                                            <label id="devtime" class="time" style="font-size: 16px"></label>
                                        </div>
                                        <div class="control-group" style="margin-left:30px">
                                            <div class="controls-bottomline" style="border:none">
                                                <label class="checkbox inline">
                                                    <input type="checkbox" id="inlineCheckbox1" value="option1"> Time zone
                                                </label>
                                                <p style="color: red;"><strong>* You must restart by click 'restart' on main page for this set up</strong></p>
                                            </div>
                                        </div>
                                        <div class="time" style="width:100%; margin-left:30px;margin-bottom:20px ">
                                            <select id="timezone" style="width:70%"></select>
                                        </div>
                                        <p class="seperate"></p>
                                        <div class="control-group" style="margin-left:30px;margin-bottom:10px">
                                            <div class="desc" style="width:30%">
                                                <input type="radio" name="optionsRadios" id="optionsRadios1" value="manual" checked=""> Manual
                                            </div>
                                        </div>
                                        <div class="control-group" style="margin-left:30px;margin-bottom:20px">
                                            <div class="time" style="width:100%">
                                                <table style="text-align: center;width:100%">
                                                    <tr>
                                                        <td style="width:16%">Year</td>
                                                        <td style="width:16%">Month</td>
                                                        <td style="width:16%">Date</td>
                                                        <td style="width:16%">Hour</td>
                                                        <td style="width:16%">Min</td>
                                                        <td style="width:16%">Sec</td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <select id="year" style="width:100%"></select>
                                                        </td>
                                                        <td>
                                                            <select id="month" style="width:100%"></select>
                                                        </td>
                                                        <td>
                                                            <select id="date" style="width:100%"></select>
                                                        </td>
                                                        <td>
                                                            <select id="hour" style="width:100%"></select>
                                                        </td>
                                                        <td>
                                                            <select id="min" style="width:100%"></select>
                                                        </td>
                                                        <td>
                                                            <select id="sec" style="width:100%"></select>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="control-group" style="margin-left:30px;margin-bottom:10px">
                                            <div class="desc" style="width:30%">
                                                <input type="radio" name="optionsRadios" id="optionsRadios2" value="timeserver"> Time server
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <div class="time" style="width:100%;margin-bottom:20px">
                                                <input type="text" style="width:70%" id="timeserverurl">
                                            </div>
                                        </div>
                                        <p class="seperate"></p>
                                        <p style="height:100px"></p>
                                        <div class="task" style="border:none;text-align: center;" >
                                            <div class="" style="display: inline-block;width:200px;" >
                                                <input type="button" class="btn" style="width:150px; " onClick="resetData()" value="Cancel"/>
                                            </div>
                                            <div class="" style="display: inline-block;width:200px;" >
                                                <input id="confirm" class="btn btn-primary" style="width:150px" type="button" onClick="setDeviceTime()" value="Confirm"/>
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                        <!--/span-->
                    </div>
                    <!--/row-->
                <!-- </div> -->
                <!--/.fluid-container-->
                <!-- end: Content -->
            </div>
            <!--/#content.span10-->
        </div>
        <!--/fluid-row-->
        <div class="clearfix"></div>
    </form>
</body>

</html>
