<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../public/head_setup %>

    <script>
    var jsonData = '';
    var clickedLink = false;

    $(document).ready(function() {
    })
    onload = function() {
        try {
            getUsbConfig();
        } catch (exception) {}
        putOnChange();
    }

	function resetData()
	{
		var usbConfigInfo = jsonData.usbConfigInfo;
		if(usbConfigInfo != "error")
		{
			document.getElementById("usb_name").value = usbConfigInfo.usb.name;
			if(usbConfigInfo.usb.status == "enable")
				document.getElementById("check_usb").checked = true;
			else
				document.getElementById("check_usb").checked = false;
		}
		cleanChanged();
	}

    function checkChangeData(URL) {
        clickedLink = true;
        if (disableNotChange() == true) {
            if (confirm("You have unsaved changes. Are you sure you want to proceed?\nAll of your changes will be lost.")) {
                location.href = URL;
            } else {
                clickedLink = false;
                return;
            }
        } else {
            location.href = URL;
        }

    }



function getUsbConfig()
	{
		var xmlHttp = null;
		xmlHttp = new XMLHttpRequest();
		xmlHttp.open("GET", '/getUsbConfig', false);

		xmlHttp.send(null);
		jsonData = JSON.parse(xmlHttp.responseText);
		var usbConfigInfo = jsonData.usbConfigInfo;
		console.log(usbConfigInfo);

		if(usbConfigInfo != "error")
		{
			document.getElementById("usb_name").value = usbConfigInfo.usb.name;
			if(usbConfigInfo.usb.status == "enable")
				document.getElementById("check_usb").checked = true;
			else
				document.getElementById("check_usb").checked = false;
		}

	}
    function check_values( element_id){
        var element_id_value = document.getElementById(element_id).value;
        var reg_eg_num = /[a-zA-Z0-9]+$/g;
        if(!element_id_value || element_id_value.length>20 || !reg_eg_num.test(element_id_value)){
            alert("Eglish or number only.");
            document.getElementById(element_id).focus();
            return 0;
        }
        return 1;
    }

    function setUsbConfig()
		{
			var usb_status= 'disable';

			if(document.getElementById("usb_name").value == '' || document.getElementById("usb_name").value == null)
			{
					alert("Please check Name");
					return;
			}
                                            var result_check = check_values( "usb_name");
                                             if(result_check==0){
                                                return;
                                             }

			if(document.getElementById("check_usb").checked == true)
				usb_status = 'enable';

			var xmlHttp = new XMLHttpRequest();
			xmlHttp.open("POST", '/setUsbConfig', false);
			xmlHttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded;charset=utf-8");

			var usbInfo = {
			'usbConfigInfo': {
							'usb': {
								'name':document.getElementById("usb_name").value,
								 'status':usb_status,
								 }
					}
			};

			var dataString = JSON.stringify(usbInfo);
			xmlHttp.send("json="+dataString);


			var jsonData = JSON.parse(xmlHttp.responseText);
			if(jsonData.result.status == "ok")
			{
				cleanChanged();
				alert("Successfully saved");
			}
			else
				alert("Saving Error");

			console.log(jsonData);
	}

    function checkIsStoppedProcess() {
        var xmlHttp = null;
        xmlHttp = new XMLHttpRequest();
        xmlHttp.open("GET", '/checkIsStoppedProcess', false);

        xmlHttp.send(null);
        jsonData = JSON.parse(xmlHttp.responseText);
        var status = jsonData.checkIsStoppedProcess.status;
        console.log(jsonData);

        if (jsonData != "error") {
            console.log("status:" + status);
            return Number(status);

        }
    };

    window.onbeforeunload = function(e) {

        if (e && checkIsStoppedProcess() != 0 && clickedLink == false) {

            e.returnValue = "There is process was collecting Data. Are you sure to exit without collecting data?";
        }
        clickedLink = false;
    };
    </script>

    <!-- end: JavaScript-->
</head>

<body class="container" style="min-width:1280px;min-height: 1000px;">
    <header>
        <!-- start: Header -->
        <% include ../public/header %>
        <!-- start: Header -->
    </header>
    <form name="frm">
        <div class="">
            <div class="row" style="margin-left:0px;height:409px;background: white;">
                <!-- start: Main Menu -->
                <%include ../public/menu_setup%>
                <script>document.getElementById("usb_setup").className ="active";</script>
                <!-- end: Main Menu -->
                <noscript>
                    <div class="alert alert-block span10">
                        <h4 class="alert-heading">Warning!</h4>
                        <p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
                    </div>
                </noscript>
                <!-- start: Content -->
                <div id="content" class="span10" style="margin-left: 0px;padding-right: 30px;padding-left: 30px; min-width:1030px; max-width:1050px;">
                        <div class="box" style="min-width: 970px;">
                            <div class="box-header" data-original-title>
                                <h2><i class="halflings-icon white edit"></i><span class="break"></span>USB Sensor</h2>
                            </div>
                        </div>
                        <!--/span-->
                    <!--/row-->

                    <!-- <div class="row-fluid sortable"> -->
                        <div class="box">
                            <div class="box-content">
                                <form class="form-horizontal">
                                    <fieldset>
                                        <div class="control-group">
                                            <div class="controls-bottomline">
                                                <!-- <label class="checkbox inline"> -->
                                                    <p><b>* Check the 'box' and name the USB Sensor.</b></p>
                                                <!-- </label> -->
                                            </div>
                                        </div>
                                        <p class="seperate"></p>
                                        <div class="control-group" style="margin-left:30px">
                                            <div class="controls-bottomline">
                                                <label class="checkbox inline">
                                                    <input type="checkbox" id="check_usb" value="option1"> USB Sensor
                                                </label>
                                            </div>
                                        </div>
                                        <div class="task" ">
                                <label class="desc " for="usb_name " style="width: 30%">Name</label>
                                <div class="time " style="text-align: left;width: 230px;">
                                  <input type="text " id="usb_name" maxlength="20">
                                </div>1-20 Alphanumeric Characters Only
                             </div>
                              <p class="seperate "></p>
                             <p style="height:100px ">
                             <div class="task" style="border:none;text-align: center;" >
                                <div class="" style="display: inline-block;width:200px;" >
                                    <input type="button" class="btn" style="width:150px; " onClick="resetData()" value="Cancel"/>
                                </div>
                                <div class="" style="display: inline-block;width:200px;" >
                                    <input id="confirm" class="btn btn-primary" style="width:150px" type="button" onClick="setUsbConfig()" value="Confirm"/>
                                </div>
                            </div>
                        </fieldset>
                      </form>
                    </div>
                </div><!--/span-->
            </div><!--/row-->
    <!-- </div>/.fluid-container -->
            <!-- end: Content -->
        </div><!--/#content.span10-->
    </div><!--/fluid-row-->
    <!-- <div class="clearfix "></div> -->

    </form>
</body>
</html>
